extends /_includes/base.pug
block body
    form.up
        +up-back("href")
        +up-logo
        header.up-header 
            h1.title Mira en tu correo electrónico
            p.important Necesitamos que verifiques tu dirección de correo electrónico. Hemos enviado un correo a coralcancio@gmail.com con un código de 6 dígitos que caducará en 15 minutos. Escríbelo aquí debajo.

        .up-code#up-code
            mixin up-code-num
                input(type="text" maxlength="1").up-code-num
            +up-code-num
            +up-code-num
            +up-code-num
            +up-code-num
            +up-code-num
            +up-code-num

        .up-actions.up-actions--vertical
            a.button Continuar
            a.button.button--nude Volver
        p.legend
            | ¿No has recibido el correo? Mira en tus carpetas de correo no deseado y de spam.
            a reenviar
block bottom-scripts
    script.
        function codeCheck("up-code");
