extends /_includes/base.pug
block body
    form.up
        +up-back("href")
        +up-logo
        header.up-header 
            h1.title Cambiar correo eléctronico
            p.important Esto reemplazará el correo que usas para iniciar sesión y las comunicaciones.
        .fo-line
            .fo-iw
                input.fo-iw__input.fo-iw__input--deactivated(type="email" placeholder="Correo eléctronico" required)
        .up-checkbox    
            input#agreement(type="checkbox" ) 
            label(for="agreement") Cerrar sessión en todos los dispositivos
        .up-actions.up-actions--vertical
            a.button Continuar
            a.button.button--nude Cancelar

block bottom-scripts
    script.
        psShow("password");
        psCheck("password");