extends /_includes/base.pug
block body
    +up-inter("Iniciando sessión...","¡Tardamos un momento, no te muevas!")
    form.up
        +up-back("href")
        +up-logo
        header.up-header 
            h1.title Escribe tu contraseña
            p.important de tu cuenta lorem@lorem.com
        .fo-line
            .fo-iw.fo-iw--psw
                .fo-iw-icon
                    img.fo-iw-icon__el(src="{% static 'img/icons/eye.svg' %}")
                    img.fo-iw-icon__el.fo-iw-icon__el--sec(src="{% static 'img/icons/eye--off.svg' %}")
                input.fo-iw__input.fo-iw__input--deactivated#password(type="password" placeholder="test" required)
        .up-actions.up-actions--vertical
            a.button Continuar
            a He olvidado mi contraseña
block bottom-scripts
    script.
        psShow("password");
        
        