extends /_includes/base.pug
block body
    form.up
        +up-back("href")
        +up-logo
        header.up-header 
            h1.title Inicia sesión con tu correo eléctronico
        .fo-line
            .fo-iw
                input.fo-iw__input.fo-iw__input--deactivated(type="email" placeholder="Correo eléctronico" required)
        .up-actions.up-actions--vertical
            a.button Continuar
            p ¿Nuevo en rmover?
                a Subscribirse