extends /_includes/base.pug
block body
    +up-inter("id2","Modificando tu método de pago","¡Casi ya estamos!")
    +up-modal("id1","Lorem Ipsum", "Lorem Ipsum", "Lorem Ipsum", "Lorem Ipsum")
    form.up
        +up-back("href")
        +up-logo
        header.up-header 
            h1.title Cambiar método de pago
            p.important Esto reemplazará el método con el que se realizan los pagos.
        p.legend Método actual: *********5048
        //-stripe shit!
        .up-actions.up-actions--vertical
            a.button(onclick="modalFire('id1')") Modificar método de pago

block bottom-scripts
    script.