extends /_includes/base.pug
block body
    form.up
        +up-back("href")
        +up-logo
        header.up-header
            p.legend Paso 1 de 3
            h1.title Introduce tu correo eléctronico
        .fo-line
            .fo-iw
                input.fo-iw__input.fo-iw__input--deactivated(type="email" placeholder="Correo eléctronico" required)
        .up-checkbox    
            input#agreement(type="checkbox" ) 
            label.legend(for="agreement") Quiero recibir por correo eléctronico ofertas y actualizaciones de rmover.
        .up-actions.up-actions--vertical
            p.legend X usará tus datos para personalizar y mejorar tu experiencia en la plataforma. Puedes cambiar tus preferencias de comunicación en cualquier momento. Podemos usar tus datos como se describe en nuestra Política de privacidad. Al hacer click en “Continuar”, reconoces que has leido nuestra Politica de privacidad, Politica de cookies.
            a.button Aceptar y continuar
            