extends /_includes/base.pug
block body
    form.up
        +up-back("href")
        +up-logo
        header.up-header
            p.legend Paso 2 de 3
            h1.title Contrato de servicio
        .up-legal_txt.customscroll
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non nostrum quo enim porro, cum minus libero suscipit obcaecati tempora alias harum nobis sint voluptates eveniet eum ipsa praesentium repudiandae eius!
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae aliquam hic culpa dolores autem, rem eos voluptatibus ab iste nihil quo? Numquam suscipit itaque iusto reprehenderit nemo veritatis enim accusamus?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sint vitae fugiat labore excepturi possimus, sequi laborum vel unde fugit, error distinctio nobis ex laudantium dolores rem libero. Nemo, delectus.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi incidunt blanditiis fuga dolor laudantium aperiam cupiditate pariatur quam recusandae? Nihil placeat animi quibusdam eos veniam odio dignissimos. Facere, sed officia.
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non nostrum quo enim porro, cum minus libero suscipit obcaecati tempora alias harum nobis sint voluptates eveniet eum ipsa praesentium repudiandae eius!
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae aliquam hic culpa dolores autem, rem eos voluptatibus ab iste nihil quo? Numquam suscipit itaque iusto reprehenderit nemo veritatis enim accusamus?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sint vitae fugiat labore excepturi possimus, sequi laborum vel unde fugit, error distinctio nobis ex laudantium dolores rem libero. Nemo, delectus.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi incidunt blanditiis fuga dolor laudantium aperiam cupiditate pariatur quam recusandae? Nihil placeat animi quibusdam eos veniam odio dignissimos. Facere, sed officia.
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non nostrum quo enim porro, cum minus libero suscipit obcaecati tempora alias harum nobis sint voluptates eveniet eum ipsa praesentium repudiandae eius!
            p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae aliquam hic culpa dolores autem, rem eos voluptatibus ab iste nihil quo? Numquam suscipit itaque iusto reprehenderit nemo veritatis enim accusamus?
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi sint vitae fugiat labore excepturi possimus, sequi laborum vel unde fugit, error distinctio nobis ex laudantium dolores rem libero. Nemo, delectus.
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi incidunt blanditiis fuga dolor laudantium aperiam cupiditate pariatur quam recusandae? Nihil placeat animi quibusdam eos veniam odio dignissimos. Facere, sed officia.
        .up-actions.up-actions--vertical
            p.legend Al hacer click en “Aceptar y continuar”, aceptas nuestro “Contrato de servicio".
            a.button Aceptar y continuar
            