extends /_includes/base.pug
block body
    +up-inter("Comprobando que todo está en su sitio...","¡Tardamos un momento, no te muevas!")
    form.up
        +up-back("href")
        +up-logo
        header.up-header
            p.legend Paso 3 de 3
            h1.title Crea una contraseña
            p.important para tu cuenta lorem@lorem.com
        .fo-line
            .fo-iw.fo-iw--psw
                .fo-iw-icon
                    img.fo-iw-icon__el(src="{% static 'img/icons/eye.svg' %}")
                    img.fo-iw-icon__el.fo-iw-icon__el--sec(src="{% static 'img/icons/eye--off.svg' %}")
                input.fo-iw__input.fo-iw__input--deactivated#password(type="password" placeholder="test" required)
                span.legend.fo-iw__help.fo-iw__help--show Utiliza un mínimo de 6 caracteres con al menos un número y carácter especial.
                div.fo-psw_str
                    .fo-psw_str__bar
                    span.fo-psw_str__text Floja
      
        .up-actions.up-actions--vertical
            a.button Continuar

block bottom-scripts
    script.
        psShow("password");
        psCheck("password");