.ha
    padding: 4em 1em
    display: flex
    gap: 2em
    max-width: $size-large
    margin: 0 auto
    
    &-main
        display: flex
        flex-grow: 1
        gap: 2em
        flex-direction: column
    &-related
        flex-basis: 200px
        display: flex
        flex-direction: column
        gap: 1em
    &-rarticle
        display: flex
        gap: .5em
        &:hover
            color: $color-primary
            &::before
                border-color: $color-primary
        &__anchor
            color: $color-text
        &::before
            content: ""
            display: inline-block
            border-right: 2px solid $color-text
            border-top: 2px solid $color-text
            transform: translateY(0.4em) rotate(45deg) 
            font-size: 10px
            width: 1em
            height: 1em


    &-rarticle_list
        display: contents
        
