.hc
    &-header
        display: flex
        background: $color-bg-main
        flex-direction: column
        align-items: center
        padding: 20rem 1rem
        gap: 1em
        text-align: center
        max-width: $size-medium
        width: 100%
        margin: 0 auto
    &-category
        display: flex
        flex-direction: column
        gap: .5em
        &-article
            &__anchor
                color: $color-text
        &-article_list
            display: contents

    &-category_list
        display: grid
        grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) )
        justify-content: center
        padding: 8em 1em
        max-width: $size-large
        gap: 3rem
        margin: 0 auto
    &-questions
        text-align: center
        padding: 8rem 1rem
        width: 100%
        gap: 1em
        background: $color-text
        color: $color-bg-contrast
        &-option
            color: $color-bg-contrast
            display: flex
            flex-direction: column
            cursor: pointer
            &__icon
                fill: $color-bg-contrast
                width: 100%
                height: 80px
        &-option_list
            display: grid
            grid-template-columns: repeat( auto-fit, minmax(100px, 200px) )
            justify-content: center
            gap: 1rem
            padding-top: 4em
