.he
    &-breadcrumb
        display: flex
        gap: .5em
        align-items: center
        &__item
            display: contents
            &:not(:last-child)::after
                content: ""
                border: 2px solid $color-text
                    left: 0
                    bottom: 0
                transform: rotate(45deg)
                font-size: 8px
                width: 1em
                height: 1em
