.hl
    padding: 4em 1em
    display: flex
    flex-direction: column
    gap: 2em
    max-width: $size-large
    margin: 0 auto

    &-article
        position: relative
        display: flex
        align-items: center
        justify-content: space-between

        &::after
            content: ""
            display: inline-block
            border: 4px solid $color-text
                left: 0
                bottom: 0
            transform: translateY(0.3em) rotate(45deg)
            font-size: 15px
            width: 1em
            height: 1em
        &:hover::after
            border-color: $color-primary
    &-article_list
        display: contents
