extends /_includes/base.pug
block body-tb
    article.br
        .br-row.br-row--upload
            .br-bar
                .br-bar-head
                    span.important Imagenes por procesar
            .br-up
                img(src="{% static 'img/icons/upload.svg' %}")
                div.br-up-msg
                    span Arrastra o pulsa para
                    a.button.button--small Subir imagen
                span.br-up-msg-advise Puedes subir imagenes en jpg, png o webp de hasta 50mb
        .br-row.br-row--list
            .br-bar
                .br-bar-head
                    button.br-circle_sel
                        img(src="{% static 'img/icons/done.svg' %}")
                    span.important Imagenes procesadas
                .br-bar-action_list
                    button.br-bar-action
                        img(src="{% static 'img/icons/download.svg' %}")
                        span Download
                    button.br-bar-action
                        img(src="{% static 'img/icons/delete.svg' %}")
                        span Delete
                    button.br-bar-action
                        img(src="{% static 'img/icons/alert.svg' %}")

            .br-img_list
                mixin img
                    a.br-img
                        button.br-img__sel.br-circle_sel
                            img(src="{% static 'img/icons/done.svg' %}")
                        img.br-img__el(src="{% static 'img/girl-back.jpg' %}")
                        button.br-img__del
                            img(src="{% static 'img/icons/delete.svg' %}")
                        img.br-img__down(src="{% static 'img/icons/download.svg' %}")
                +img
                +img
                +img
                +img
                +img
                +img
                +img
                +img
                +img
                +img
                +img
                +img
                +img
block bottom-scripts
