mixin up-back(href)
    a.up-back(href=href)
        img(src="{% static 'img/icons/chevron_left.svg' %}")

mixin up-logo
    img.up-logo(src="{% static 'img/logo.svg' %}")

mixin up-inter(id, title, subtitle)
    aside.up-inter_wrap(id=id)
        .up-inter
            .up-inter-anim
            .up-inter-txt
                p.title= title
                p.subtitle= subtitle

mixin up-modal(id, title, subtitle, mainActionTxt, mainAction)
    aside.up-modal_wrap(id=id)
        .up-modal
            p.smalltitle= title
            p.legend= subtitle
            .up-actions.up-actions--rtl
                a.button.button--nude(onclick='modalUnfire("'+ id +'")') Cancelar
                a.button(href=mainAction)= mainActionTxt