mixin list-group(title)
        .vg-group(class!=attributes.class)
            h2.vg-group__title.smalltitle= title
            .vg-list
                if(attributes.class != "vi-group--search")
                    button.vg-list-act.vg-list-act--next
                        img.vg-list-act__img(src="{% static 'img/icons/chevron_right.svg' %}")
                    button.vg-list-act.vg-list-act--prev
                        img.vg-list-act__img(src="{% static 'img/icons/chevron_left.svg' %}")
                .vg-list-wrapper
                    block
mixin list-item(title, what, when, href)
    .ve
        img.ve__img(src="{% static 'img/examples/girl-top.jpg' %}")
        h3.bold.ve-title
            a.ve-title__anchor(href= href)= title
        .ve-info
            span.ve-info__what= what
            span.ve-info__when= when