extends /_includes/base.pug
block head-scripts
block body-tb
    .ve
        video(id="player" playsinline controls)
        .vi-header
            .vi-header-main
                span.vi-header-main__intro.subtitle Lorem Ipsum
                h1.vi-header-main__title.supertitle Lorem Ipsum
                span.vi-header-main__when Disponible hasta el 21 de mayo de 2021
                .vi-header-main-share
                    span.vi-header-main-share__title Compartir
                    ul.vi-header-main-share-item_list
                        mixin share-link(href, icon)
                            li.vi-header-main-share-item
                                a.vi-header-main-share-item__anchor(href= href)
                                    img(src="{% static 'img/icons/"+ icon +".svg' %}")
                        +share-link("action", "facebook-square")
                        +share-link("action", "facebook-square")
                        +share-link("action", "facebook-square")
                        +share-link("action", "facebook-square")
                        +share-link("action", "facebook-square")
                    
            .vi-header-intro
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dictum neque at quam luctus, non hendrerit justo aliquam. Sed augue orci, tincidunt eget ullamcorper sollicitudin, venenatis eu felis. Mauris metus nunc, viverra et sagittis eu, dignissim in nulla. 
        +list-group("title")(class="vi-group--brand")
                +list-item("title1", "what", "when", "anchor")
                +list-item("title2", "what", "when", "anchor")
                +list-item("title3", "what", "when", "anchor")
                +list-item("title4", "what", "when", "anchor")
                +list-item("title5", "what", "when", "anchor")
                +list-item("title6", "what", "when", "anchor")
                +list-item("title7", "what", "when", "anchor")
                +list-item("title8", "what", "when", "anchor")
        +list-group("title")
            +list-item("title", "what", "when", "anchor")
            +list-item("title", "what", "when", "anchor")
            +list-item("title", "what", "when", "anchor")
            +list-item("title", "what", "when", "anchor")
            +list-item("title", "what", "when", "anchor")
            +list-item("title", "what", "when", "anchor")
            +list-item("title", "what", "when", "anchor")
            +list-item("title", "what", "when", "anchor")


block bottom-scripts
    script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
    script(src="https://cdn.plyr.io/3.6.9/plyr.js")
    script(src="https://cdn.jsdelivr.net/npm/hls.js@latest")
    script.
        let video1 = {
            url: 'https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8',
            poster: 'https://bitdash-a.akamaihd.net/content/sintel/poster.png',
            start: 0,
            autoplay: true
        }
        let video2 = {
            url: 'https://multiplatform-f.akamaihd.net/i/multi/will/bunny/big_buck_bunny_,640x360_400,640x360_700,640x360_1000,950x540_1500,.f4v.csmil/master.m3u8',
            start: 0
        }
        plyr("player", video1)
        lswipper();
    