extends /_includes/base.pug
block head-scripts
    //-link(rel="stylesheet", href="https://unpkg.com/swiper@7/swiper-bundle.min.css")
    //- swiper-initialized swiper-horizontal swiper-pointer-events swiper-android afegeixen estil css, no s'ha apreciat utilitat.
block body-tb
    .vl
        .vi-hero_wrap
            .vi-hero
                .vi-hero-text
                    span.vi-hero-text__intro Entradilla
                    h1.vi-hero-text__title.supertitle Lorem Ipsum
                    .vi-hero-text__description
                        P Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                img.vi-hero__img(src="{% static 'img/examples/girl-top.jpg' %}")
            img.vi-hero__bg(src="{% static 'img/examples/girl-top.jpg' %}")
        .vi-group_list
            +list-group("title")(class="vi-group--brand")
                +list-item("title1", "what", "when", "anchor")
                +list-item("title2", "what", "when", "anchor")
                +list-item("title3", "what", "when", "anchor")
                +list-item("title4", "what", "when", "anchor")
                +list-item("title5", "what", "when", "anchor")
                +list-item("title6", "what", "when", "anchor")
                +list-item("title7", "what", "when", "anchor")
                +list-item("title8", "what", "when", "anchor")
            +list-group("title")
                +list-item("title", "what", "when", "anchor")
                +list-item("title", "what", "when", "anchor")
                +list-item("title", "what", "when", "anchor")
                +list-item("title", "what", "when", "anchor")
                +list-item("title", "what", "when", "anchor")
                +list-item("title", "what", "when", "anchor")
                +list-item("title", "what", "when", "anchor")
                +list-item("title", "what", "when", "anchor")


block bottom-scripts
    script(src="https://unpkg.com/swiper@7/swiper-bundle.min.js")
    script.
        lswipper();