extends /_includes/base.pug
block head-scripts
block body-tb
    .vs
        .vs-input
            input.fo-iw__input.fo-iw__input--deactivated(type="search")
        span.vs__msg Lo sentimos, no hay resultados con esta busqueda
        +list-group("title")(class="vi-group--search")
            +list-item("title1", "what", "when", "anchor")
            +list-item("title2", "what", "when", "anchor")
            +list-item("title3", "what", "when", "anchor")
            +list-item("title4", "what", "when", "anchor")
            +list-item("title5", "what", "when", "anchor")
            +list-item("title6", "what", "when", "anchor")
            +list-item("title7", "what", "when", "anchor")
            +list-item("title8", "what", "when", "anchor")
            +list-item("title7", "what", "when", "anchor")
            +list-item("title8", "what", "when", "anchor")
block bottom-scripts