@font-face 
    font-family: 'Zen Kaku Gothic Antique'
    font-style: normal
    font-weight: 400
    src: local(''), url('../fonts/zen-kaku-gothic-antique-v3-latin-regular.woff2') format('woff2'), url('../fonts/zen-kaku-gothic-antique-v3-latin-regular.woff') format('woff')

@font-face 
    font-family: 'Zen Kaku Gothic Antique'
    font-style: normal
    font-weight: 500
    src: local(''), url('../fonts/zen-kaku-gothic-antique-v3-latin-500.woff2') format('woff2'), url('../fonts/zen-kaku-gothic-antique-v3-latin-500.woff') format('woff')

@font-face
    font-family: 'Zen Kaku Gothic Antique'
    font-style: normal
    font-weight: 700
    src: local(''), url('../fonts/zen-kaku-gothic-antique-v3-latin-700.woff2') format('woff2'), url('../fonts/zen-kaku-gothic-antique-v3-latin-700.woff') format('woff')
html
    font-family: 'Zen Kaku Gothic Antique', Arial, Helvetica, sans-serif
    color: $color-text
    font-size: $font-size-global
    height: 100%
    background: $color-bg-main

body
    height: 100%
p
    margin-bottom: 1em
a
    color: $color-primary
    cursor: pointer
    @at-root p > &, span > &, &:hover
        text-decoration: underline
    &.quiet
        color: $color-text
        &:hover
            color: $color-primary
            text-decoration: none

//Header definition
//-
    //h1
        +h1
    //h2
        +h2
    //h3
        +h3
    //h4
        +h4
    //h5
        +h5
    //h6
        +h6
//- Font styles
