//sizes
$size-xxlarge: 1440px
$size-xlarge: 1200px
$size-large: 1024px
$size-medium: 640px
$size-small: 0px


//colors
$color-black: #151513
$color-gray-darkest: #2A2B27
$color-gray-dark: #54584F
$color-gray: #868C80
$color-gray-light: #B8BBB4
$color-gray-lightest: #DBDDD9
$color-white: #f5f5f5

$color-red: #F44336
$color-orange: #FF9800
$color-green: #5A9216
$color-yellow: #FFEE58
$color-blue: #4286F4

$color-primary: $color-blue
$color-primary-light: #{lighten($color-primary, 10%)}
$color-primary-lightest: #{lighten($color-primary, 20%)}

$color-text: $color-white
$color-bg-main: $color-black
$color-bg-contrast: $color-gray-darkest

$color-error: $color-red
$color-alert: $color-orange
$color-correct: $color-green

\:root
    --color-red : #{$color-red}
    --color-yellow : #{$color-yellow}
    --color-green : #{$color-green}
    --color-orange : #{$color-orange}

$font-size-global: 14px
$font-size-small: 12px

//weights
$font-weight-regular: 400
$font-weight-bold: 700

//Header Large Font Sizes
$h1l: 36px
$h2l: 24px
$h3l: 18px
$h4l: 16px
$h5l: 14px
$h6l: 13px

//Header Small Font Sizes
$color-reduction: 1.4

$h1s: math.div($h1l, $color-reduction)
$h2s: math.div($h2l, $color-reduction)
$h3s: math.div($h3l, $color-reduction)
$h4s: math.div($h4l, $color-reduction)
$h5s: math.div($h5l, $color-reduction)
$h6s: math.div($h6l, $color-reduction)