.co
    &-hero
        display: grid
        grid-template-columns: 1fr
        grid-template-areas: "up""com"  "img"
        grid-column-gap: 4em
        grid-row-gap: 8em
        padding: 1em
            top: 8em
        max-width: $size-large
        margin: 0 auto
        width: 100%
        justify-content: center
        justify-items: center
        +breakpoint(medium)
            grid-template-columns: auto auto
            grid-template-areas: "com up" "img img"
        
        &-wrap
            position: relative
        &-comercial
            grid-area: com
            display: flex
            gap: 1em
            flex-direction: column
            align-items: start
            &__intro
                max-width:  400px

        &-upload
            grid-area: up
            border: 1px solid $color-white
            padding: 1rem
            display: flex
            flex-direction: column
            align-items: center
            gap: 1em
            max-width: 300px
            &__icon
                width: 50px
            &-msg
                &__txt
                    margin-right: 1em
        &-img
            grid-area: img
            width: 100%
            max-width: $size-medium
            margin-bottom: -8em
            box-shadow: 0px 0px 20px 0px $color-bg-main
                    
        &__bg
            position: absolute
            top: 0
            left: 0
            height: 100%
            width: 100%
            object-fit: cover
            z-index: -1
    &-hei
        margin: 0 auto
        max-width: $size-large
        display: flex
        flex-direction: column
        align-items: center
        text-align: center
        padding: 1rem
            top: 14rem
            bottom: 4rem
        &-header
            max-width: $size-medium
        &-point
            display: flex
            flex-direction: column
            
            align-items: center
            &__title
                margin-bottom: .5em
        &-point_list
            display: grid
            grid-auto-columns: 1fr
            +breakpoint(medium)
                grid-auto-flow: column
            gap: 2em
            padding: 4em 0
    &-gr
        background: $color-text
        color: $color-bg-main
        display: flex
        flex-direction: column
        gap: 8em
        padding: 8em 1em
        +breakpoint(medium)
            gap: 10em
            padding: 10em 1em
        &--negative
            background: inherit
            color: inherit
        &-header
            max-width: $size-large
            width: 100%
            margin: 0 auto
            &__title
                max-width: $size-medium
        &-se
            display: grid
            margin: 0 auto
            max-width: $size-large
            grid-column-gap: 6em
            grid-row-gap: 1em
            align-content: start
            grid-template-columns: 1fr
            grid-template-areas: "header" "img" "text"
            +breakpoint(medium)
                grid-template-columns: 2fr 1fr
                grid-template-areas: "img header" "img text" "img ."
                &:nth-child(odd)
                    grid-template-columns: 1fr 2fr
                    grid-template-areas: " header img" " text img" " . img"
            &__img
                grid-area: img
                width: 100%
                object-fit: contain
                justify-self: center
                &--quick
                    max-width: 400px
                &--block
                    max-width: 400px
            &-header
                grid-area: header
            &-txt
                grid-area: text
                padding-left: 1em
    &-faq
        background: $color-text
        color: $color-bg-main
        padding: 4em 1em
        &-header
            padding-bottom: 3em
        &-header, &-item_list
            width: 100%
            max-width: $size-large
            margin: 0 auto
        &-item
            border-color: $color-gray-dark
            border-style: solid
            border-top-width: 1px
            padding: 2rem 0
            &:last-child
                border-bottom-width: 1px
            &-question
                
                position: relative
                display: flex
                justify-content: space-between
                cursor: pointer
                
                &::after
                    content: ""
                    display: inline-block
                    border: 2px solid $color-gray-dark
                        left: 0
                        bottom: 0
                    transform: translateY(0.3em) translateX(-0.3em) rotate(135deg)
                    font-size: 10px
                    width: 1em
                    height: 1em
                    transition: .5s
                    @at-root .co-faq-item--active &
                        transform: translateY(0.3em) translateX(-0.3em) rotate(-45deg)

            &-cnt
                max-height: 0
                overflow: hidden
                transition: .5s
                & > p:first-child
                    padding-top: 2rem

                & > p:last-child
                    margin-bottom: 0

                @at-root .co-faq-item--active &
                    max-height: 22rem

