.fq
    display: grid
    grid-template-areas: "header" "nav" "cnt"s
    grid-column-gap: 1rem
    grid-row-gap: 3rem
    padding: 0 1rem
    +breakpoint(medium)
        grid-template-areas: "header header" "nav cnt"
        grid-template-columns: 200px auto
        
    &-header
        display: grid
        grid-area: header
        background: $color-bg-contrast
        margin: 0 -1rem
        padding: 3rem 1rem
        +breakpoint(medium)
            grid-template-columns: 1fr 1fr
            grid-column-gap: 2rem
        &-cnt
            display: flex
            flex-direction: column
            gap: 1rem
            align-items: flex-start
        &__img
            max-height: 380px
    
    &-nav
        grid-area: nav
        &__item
            padding: .5em
            margin-left: -.5em
            &--sub
                margin-left: 0
                padding-left: 1em
        
        &-item_list
            display: flex
            flex-direction: column
    &-cnt
        grid-area: cnt
        
    &-sc
        display:  grid
        grid-template-areas: "header" "main" "sprt"
        grid-column-gap: 2rem
        grid-row-gap: 1rem
        +breakpoint(medium)
            grid-template-areas: "header header" "main sprt"

        &-header
            grid-area: header
        &-main
            grid-area: main
        &-sprt
            grid-area: sprt