.br
    display: flex
    flex-direction: column
    padding: 2rem
    gap: 4rem
    &-circle_sel
        border-radius: 100%
        border: 2px solid $color-white
        padding: .1em
        height: 18px
        width: 18px
        img
            height: 100%
            width: 100%
    &-row
        display: flex
        flex-direction: column
        gap: 2rem
    &-bar
        display: flex
        justify-content: space-between
        border-bottom: 1px solid $color-text
        padding: .5rem 0
        &-head
            display: flex
            gap: 1rem
            align-items: center
        &-action_list
            display: flex
            gap: 2rem
            align-items: center
        &-action
            display: flex
            align-items: center
            gap: .5rem
    &-img_list
        display: inline-grid
        grid-template-columns: repeat(auto-fill, 100%)
        grid-gap: 2rem
        +breakpoint(medium)
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
    &-img
        position: relative
        width: 100%
        height: 0
        padding-top: 100%
        border-radius: .5rem
        overflow: hidden
        &::before
            position: absolute
            top: 0
            left: 0
            content: ""
            width: 100%
            height: 50px
            background: linear-gradient(180deg, rgba($color-bg-main,0.8) 0%, rgba($color-bg-main,0) 100%)
            z-index: 1
        
        &__el
            position: absolute
            top: 0
            height: 100%
            width: 100%
            object-fit: cover
        &__del
            position: absolute
            top: 0
            right: 0
            padding: .5rem
            z-index: 2
        &__sel
            position: absolute
            top: 0
            left: 0
            z-index: 2
            margin: .5rem
        &__down
            position: absolute
            bottom: 0
            right: 0
            padding: .5rem
            z-index: 2
            background: rgba($color-bg-main, 0.75)
            border-radius: .5rem
            margin: .5rem

