extends /_includes/base.pug
block body-tb

block body-tb
    article.up
        +up-back("href")
        header.up-header 
            h1.title ¿Por qué quieres cancelar?
            p.important Tu respuesta es opcional. ¿Tienes problemas técnicos? ¡Podemos ayudarte!
        ul.up-list.up-list--checkbox
            li.up-checkbox    
                input#o1(type="checkbox" ) 
                label(for="o1") Option 1
            li.up-checkbox    
                input#o2(type="checkbox" ) 
                label(for="o2") Option 1
            li.up-checkbox    
                input#o3(type="checkbox" ) 
                label(for="o3") Option 1
            li.up-checkbox    
                input#o4(type="checkbox" ) 
                label(for="o4") Option 1
            li.up-checkbox    
                input#o5(type="checkbox" ) 
                label(for="o5") Option 1
            li.up-checkbox
                input#o6(type="checkbox" ) 
                label(for="o6") Option 1

        .up-actions
            a.button Continuar con la cancelación
            a.button.button--nude Volver