extends /_includes/base.pug

block body-tb
    article.up
        +up-back("href")
        header.up-header 
            h1.title Se ha cancelado tu suscripción
            p.important (?) Hemos enviado una confirmación a lorem@lorem.com. Puedes seguir viendo OTT hasta el 11 de mayo de 2021.

        h2.smalltitle ¡Gracias por tus comentarios!
        p Tus respuestas nos ayudan a mejorar la experiencia en OTT.
        p Puedes reactivar tu suscripción en línea cuando finalice el ciclo de facturación.
        .up-actions.up-actions--vertical
            a.button Cerrar e ir a portada
