extends /_includes/base.pug
block body-tb
    article.up
        +up-back("href")
        header.up-header 
            h1.title ¿Estas seguro?
            p.important Subscription allows all unused credits to roll over month by month. We save them all up for you.

        p.important If you cancel your subscription you will lose all of them.

        .up-actions.up-actions--vertical
            a.button.button--nude Seguir disfrutando
            a.button No, gracias. Cancelar rmover
        p.legend.up-advise ???? La cancelación se hará efectiva al finalizar el periodo de facturación actual el 11 de mayo de 2021.