
extends /_includes/base.pug

block body-tb
    form.up
        +up-back("href")
        header.up-header 
            h1.title Configuración de comunicación
            p.important Dirigidos a: lorem@lorem.com
        
        p.legend Estando suscrito a nuestras comunicaciones, podrás estar al dia de todo lo que sucede en rmover. Entre ellas:
        ul.up-list
            li Noticias
            li Promociones 
            li Ofertas especiales 
            li Servicios
        .up-checkbox    
            input#agreement(type="checkbox" ) 
            label(for="agreement") Quiero recibir las comunicacioens de rmover.
        p.legend Nota: Las comunicaciones relacionadas con la cuenta no se ven alteradas. Los cambios pueden tardar unas horas en aplicarse.
        .up-actions
            button.button(type="submit" value="Submit") Actualizar
            a.button.button--nude Volver


        