
extends /_includes/base.pug
block body-tb

    article.uc
        header.uc-header
            h1.supertitle Cuenta
        section.uc-s
            header.uc-s-header
                h2.title Balance
            div.uc-s-info
                div.uc-s-info-part
                    h3.important Suscripción
                    p 98 imagenes
                    p.legend Las proximas imagenes llegan el 10 del 10
                    p.legend.uc-s-info-part__msg Lorem Ipsum
                div.uc-s-info-part
                    h3.important Saldo
                    p 22 imagenes
            div.uc-s-actions
                a.button.button--nude(href="") Iniciar suscripción
                a.button.button--nude(href="") Historial de imagenes
        section.uc-s
            header.uc-s-header
                h2.title Detalles
            div.uc-s-info
                div.uc-s-info-part
                    h3.important lorem@lorem.com
                    p *******
                    p.legend.uc-s-info-part__msg Lorem Ipsum
            div.uc-s-actions
                a.button.button--nude(href="") Cambiar correo
                a.button.button--nude(href="") Cambiar contraseña
                a.button.button--nude(href="") Cerrar sessión en todos los dispositivos
        section.uc-s
            header.uc-s-header
                h2.title Pagos y suscripción
            div.uc-s-info
                div.uc-s-info-part
                    h3.important lorem@lorem.com
                    p 100 fotos al mes | x€ al mes
                    p.legend.uc-s-info-part__msg Lorem Ipsum
                div.uc-s-info-part
                    h3.important Lorem Ipsum Dolor Sit 
                    p 679534017
                    p Llinars 213
                    p Cardedeu
                    p 08844
                    p Barcelona, Spain
                    p 65768448S
            div.uc-s-actions
                a.button.button--nude(href="") Modificar método de pago
                a.button.button--nude(href="") Modificar suscripción
                a.button.button--nude(href="") Modificar información de facturación
                a.button.button--nude(href="") Historial de facturación