
extends /_includes/base.pug
block body-tb

    article.up
        +up-back("href")
        header.up-header 
            h1.title Historial de facturación
        div
            .up-grid
                .up-grid-line.up-grid-line--header.legend
                    span.up-grid-line__date Fecha
                    span.up-grid-line__description Descripción
                    span.up-grid-line__total Total 
                .up-grid-line
                    a.up-grid-line__date 12/4/2021
                    span.up-grid-line__description Prueba gratuita
                    span.up-grid-line__total x,xx€
            p.legend.up-advise aqui solo se muestran tus facturas más recientes


        