extends /_includes/base.pug
block body-tb
    article.up.up--priceplan
        +up-back("href")
        header.up-header 
            h1.supertitle Planes de precio
        .toggle
            a.toggle-button.toggle-button--active Suscripción
            a.toggle-button Saldo
        .up-plan_list
            mixin pm-plan(number, price, priceimg, ctatxt, ctaa)
                .up-plan(class!=attributes.class)
                    h2.up-plan-header
                        span.up-plan-header__number.title= number
                        span Imagenes
                    p.up-plan-pricing
                        span.smalltitle= price
                        if (priceimg.length)
                            span.legend (#{priceimg}€ por imagen)
                    a.button(href="#{ctaa}")
                        if (ctatxt.length)
                            | #{ctatxt}
                        else
                            | Suscribir
                    ul.up-list
                        if block
                            block
                        else
                            li 6 meses de almacentamiento ilimitado
                            li Los creditos no caducan durante 6 meses*
                            li Soporte chat
                            li Acceso a la API
                            li Cambia de plan cuando quieras

                        
            +pm-plan("5", "Gratis", "", "Probar", "test")
                li 6 meses de almacentamiento ilimitado
                li Soporte email
                li Cambia de plan cuando quieras
                li 10 llamadas a API gratuitas.
            +pm-plan("100", "12€ al mes", "0,120", "", "test")
            +pm-plan("300", "33€ al mes", "0,110", "", "test")
            +pm-plan("500", "45€ al mes", "0,090", "", "test")
            +pm-plan("1000", "72€ al mes", "0,072", "", "test")
            +pm-plan("2500", "160€ al mes", "0,065", "", "test")
            +pm-plan("5000", "290€ al mes", "0,058", "", "test")
            +pm-plan("∞", "A concretar", "", "Solicitar información", "test")(class="pm-plan--infinite")
