{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><div class="ib-wrap"><div class="ib-line"><label class="ib-label" for="email">Email</label><div class="ib-iw"><svg class="ib-iw__icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"></path><path d="M20 4H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H4v-6h16v6zm0-10H4V6h16v2z"></path></svg><input class="ib-iw__input" id="email" type="email" placeholder="Email"><span class="ib-iw__help">Help text</span></div></div><div class="ib-line"><label class="ib-label" for="password">Contraseña</label><div class="ib-iw ib-iw--psw"><svg class="ib-iw__icon" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px"><path d="M0 0h24v24H0z" fill="none"></path><path d="M20 4H4c-1.11 0-1.99.89-1.99 2L2 18c0 1.11.89 2 2 2h16c1.11 0 2-.89 2-2V6c0-1.11-.89-2-2-2zm0 14H4v-6h16v6zm0-10H4V6h16v2z"></path></svg><input class="ib-iw__input ib-iw__input--deactivated" id="password" type="password" placeholder="test" required><span class="ib-iw__help ib-iw__help--show">Utiliza un mínimo de 6 caracteres con al menos un número y carácter especial.</span><div class="ib-psw_str"><div class="ib-psw_str__bar"></div><span class="ib-psw_str__text">Floja</span></div></div></div></div><a class="button button--ghost">test</a><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script><script>let password = document.getElementById('password')
if(password){

    let timeout;
    let father = password.parentElement
    let strengthText = father.getElementsByClassName("ib-psw_str__text")[0]

    let strongPassword = new RegExp('(?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{10,})')
    let goodPassword = new RegExp('((?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{8,}))|((?=.*[^A-Za-z0-9])(?=.{10,}))')
    let mediumPassword = new RegExp('((?=.*[0-9])(?=.*[^A-Za-z0-9])(?=.{6,}))|((?=.*[^A-Za-z0-9])(?=.{8,}))')
    
    function StrengthChecker(PasswordParameter){
        if(strongPassword.test(PasswordParameter)) {
            father.setAttribute("strength", "strong")
            strengthText.textContent = 'Genial'
        } else if(goodPassword.test(PasswordParameter)){
            father.setAttribute("strength", "good")
            strengthText.textContent = 'Bien'
        } else if(mediumPassword.test(PasswordParameter)){
            father.setAttribute("strength", "medium")
            strengthText.textContent = 'Regular'
        }else{
            father.setAttribute("strength", "bad")
            strengthText.textContent = 'Insuficiente'
        }
    }

    window.onload = function() {
        let att = document.createAttribute("strength");
        password.setAttributeNode(att);
        StrengthChecker(password.value);
    };

    password.addEventListener("input", () => {
        clearTimeout(timeout);
        timeout = setTimeout(() => StrengthChecker(password.value), 500);
    });
}</script></body></html>