{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script><article class="pm"><a class="up-back" href="test"><img src="{% static 'img/icons/chevron_left.svg' %}"></a><header class="pm-header"> <h1 class="title">¿Por qué quieres cancelar?</h1><p class="important">Tu respuesta es opcional. ¿Tienes problemas técnicos? ¡Podemos ayudarte!</p></header><ul class="pm-list pm-list--checkbox"><li class="pm-checkbox">   <input id="o1" type="checkbox"><label for="o1">Option 1</label></li><li class="pm-checkbox">   <input id="o2" type="checkbox"><label for="o2">Option 1</label></li><li class="pm-checkbox">   <input id="o3" type="checkbox"><label for="o3">Option 1</label></li><li class="pm-checkbox">   <input id="o4" type="checkbox"><label for="o4">Option 1</label></li><li class="pm-checkbox">   <input id="o5" type="checkbox"><label for="o5">Option 1</label></li><li class="pm-checkbox"><input id="o6" type="checkbox"><label for="o6">Option 1</label></li></ul><div class="pm-actions"><a class="button">Continuar con la cancelación</a><a class="button button--nude">Volver</a></div></article></body></html>