{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script><article class="pm"><a class="bb" href="test"><img src="{% static 'img/icons/chevron_left.svg' %}"></a><header class="pm-header"> <h1 class="title">¿Estas seguro?</h1><p class="important">Subscription allows all unused credits to roll over month by month. We save them all up for you.</p></header><p class="important">If you cancel your subscription you will lose all of them.</p><div class="pm-actions pm-actions--vertical"><a class="button button--nude">Seguir disfrutando</a><a class="button" type="submit" value="Submit">No, gracias. Cancelar rmover</a></div><p class="legend pm-advise">???? La cancelación se hará efectiva al finalizar el periodo de facturación actual el 11 de mayo de 2021.</p></article></body></html>