{% load i18n %}
{% load static %}
{% load fb_versions %}
{% load general_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% load tz %}
{% get_current_timezone as TIME_ZONE %}<!DOCTYPE html><html lang="{{ LANGUAGE_CODE }}"><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"><meta http-equiv="X-UA-Compatible" content="IE=edge"><link rel="icon" type="image/png" href="{% version general.favicon 'icon' %}"><meta property="og:url" content="{{ request.build_absolute_uri }}"><meta property="og:site_name" content="{{general.site_name}}"><meta property="og:locale" content="{{ LANGUAGE_CODE }}">{% for language in languages %}<link rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}">{% endfor %}<link rel="stylesheet" href="{% static 'css/project.css' %}"><link rel="preconnect" href="https://fonts.gstatic.com"><link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&amp;display=swap" rel="stylesheet"><meta name="viewport" content="width=device-width, initial-scale=1.0"><script src="{% static 'js/vendor/cookie-though.js' %}">       </script></head><body><script src="{% static 'js/app.js' %}"></script><script src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}"></script><article class="pm"><a class="bb" href="test"><img src="{% static 'img/icons/chevron_left.svg' %}"></a><header class="pm-header"> <h1 class="title">Historial de creditos</h1></header><div><div class="pm-grid"><div class="pm-grid-line pm-grid-line--header legend"><span class="pm-grid-line__date">Fecha</span><span class="pm-grid-line__description">Descripción</span><span class="pm-grid-line__total">Saldo </span></div><div class="pm-grid-line"><a class="pm-grid-line__date">12/4/2021</a><span class="pm-grid-line__description">Prueba gratuita</span><span class="pm-grid-line__total">99</span></div></div><p class="legend pm-advise">Aqui solo se muestran los movimientos más recientes.</p></div></article></body></html>