|{% load i18n %}
|{% load static %}
|{% load fb_versions %}
|{% load general_tags %}
|{% get_current_language as LANGUAGE_CODE %}
|{% get_available_languages as LANGUAGES %}
|{% get_language_info_list for LANGUAGES as languages %}
|{% load tz %}
|{% get_current_timezone as TIME_ZONE %}

doctype html
include ../_mixins/general.pug
include ../_mixins/video.pug
html(lang='{{ LANGUAGE_CODE }}')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        link(rel="icon", type="image/png", href="{% version general.favicon 'icon' %}")

        //-OG
        meta(property='og:url', content='{{ request.build_absolute_uri }}')
        meta(property='og:site_name', content="{{general.site_name}}")
        meta(property='og:locale', content='{{ LANGUAGE_CODE }}')


        |{% for language in languages %}
        link(rel="alternate" hreflang="{{language.code}}" href="{% translate_url language.code %}")
        |{% endfor %}

        block head-seo
        block head-scripts
        link(rel="stylesheet" href="{% static 'css/project.css' %}")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap" rel="stylesheet")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        
        script(src="{% static 'js/vendor/cookie-though.js' %}")        
        
    body
        block body
            include topbar
            block body-tb
            include footer
        script(src="{% static 'js/app.js' %}")
        script(src="{% static 'js/vendor/cookies-text-es.js' %}{% get_static_file_version %}")
        block bottom-scripts
