footer.ft
    a.ft-logo(href="")
        img(src="{% static 'img/logo.svg' %}")
    ul.ft-links
        mixin li(href, text)
            li.legend
                a.quiet(href= href)= text
        +li("href", "text")
        +li("href", "text")
        +li("href", "text")
        +li("href", "text")
        +li("href", "text")
        +li("href", "text")
        +li("href", "text")
        +li("href", "text")
    p.legend rmover.io all rights reserved