header.tb
    .tb-top
        a.tb-logo.button.button--nude(href="")
            img(src="{% static 'img/logo.svg' %}")
        a.tb-ham()
    nav.tb-nav
        ul.tb-nav-user
            li 
                a.button.button--small(href="") 
                    | Crear cuenta
            li
                a.button.button--nude.button--small(href="") 
                    | Iniciar sessión
        ul.tb-nav-principal
            li 
                a.button.button--nude.button--small(href="") 
                    | Precios
            li
                a.button.button--nude.button--small(href="")  
                    | API
        
