.ve
    //-custom
    display: flex
    flex-direction: column
    gap: .5em
    //- swiper
    flex-shrink: 0
    width: 100%
    height: 100%
    position: relative
    transition-property: transform
    &-title
        &__anchor
            color: $color-text
            &:hover
                text-decoration: none
            &::before
                content: ""
                position: absolute
                height: 100%
                width: 100%
                top: 0
                left: 0
                cursor: pointer

    &__img
        width: 100%
        aspect-ratio: 4 / 3
        object-fit: cover
        @at-root .vi-group--brand &
            aspect-ratio: 1 / 1
    &-info
        display: flex
        gap: .5em
        &__what
            display: contents
            &::after
                content: "|"