.vi
    &-hero
        display: grid
        width: 100%
        padding: 6rem 1rem
        max-width: $size-large
        margin: 0 auto
        align-items: end
        align-content: center
        grid-gap: 1rem
        grid-auto-flow: row
        grid-template-areas: "img" "text"
        +breakpoint(medium)
            grid-template-columns: 3fr 5fr
            grid-auto-flow: column
            grid-template-areas: "text img"
        &_wrap
            position: relative
            overflow: hidden
            &::before
                position: absolute
                content: ""
                width: 100%
                height: 20%
                background: linear-gradient(0deg, $color-bg-main, transparent)
                bottom: 0
        &-text
            grid-area: text
            &__description
                margin-bottom: -1rem
        &__img
            grid-area: img
            width: 100%
            object-fit: cover
            aspect-ratio: 16 / 9
            box-shadow:  0 0 10px rgba($color-bg-main, 0.5)
        &__bg
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            object-fit: cover
            z-index: -1
            filter: blur(10px)
            opacity: .8
    &-header
        display: grid
        grid-gap: 2rem
        padding: 4rem 1rem
        +breakpoint($size-medium)
            grid-template-columns: 200px 300px
        &-main
            display: flex
            flex-direction: column
            gap: .5rem
            &-share
                display: flex
                flex-direction: column
                gap: .5em
                padding-top: 2rem
                &-item_list
                    display: flex
                    gap: .5em
                &-item
                    $ratio: 24px
                    height: $ratio
                    width: $ratio
    
