.vg
    &-group_list
        display: flex
        flex-direction: column
        gap: 2rem
        user-select: none
    &-group
        padding: 1rem
        display: flex
        flex-direction: column
        gap: 1rem
    &-list
        //-custom
        width: 100%
        //- swiper
        margin-left: auto
        margin-right: auto
        position: relative
        overflow: hidden
        list-style: none
        padding: 0
        z-index: 1
        
        &-act
            position: absolute
            z-index: 4
            transition: .5s opacity
            display: flex
            align-items: center
            cursor: pointer
            &--disabled
                opacity: 0
            &--prev
                top: 50%
                transform: translateY(-50%)
                @at-root .ve-item_list-act--disabled + &
                    height: 100%
                    background: linear-gradient(90deg, $color-bg-main, transparent)
            &--next
                height: 100%
                top: 0
                right: 0
                background: linear-gradient(-90deg, $color-bg-main, transparent)
            &__img
                width: 60px
                transition: .5s opacity
                
                @at-root .ve-item_list:not(:hover) &
                    opacity: 0
    &-list-wrapper
        //-custom
        //- swiper
        position: relative
        width: 100%
        height: 100%
        z-index: 1
        display: flex
        transition-property: transform
        box-sizing: content-box
        @at-root .vi-group--search &
            display: inline-grid
            grid-template-columns: repeat(auto-fill, 100%)
            grid-gap: 2rem
            +breakpoint(medium)
                grid-template-columns: repeat(auto-fill, minmax(250px, 1fr))
