.vs
    display: flex
    gap: 2rem
    flex-direction: column
    padding: 8rem 0
    &-input
        max-width: 400px
        width: 100%
        margin: 0 auto
        text-align: center
        padding: 0 1rem
    &__msg
        text-align: center
        padding: 0 1rem