@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
  cursor: pointer;
}

:root {
  --color-red: #F44336;
  --color-yellow: #FFEE58;
  --color-green: #5A9216;
  --color-orange: #FF9800;
}

@font-face {
  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/zen-kaku-gothic-antique-v3-latin-regular.woff2") format("woff2"), url("../fonts/zen-kaku-gothic-antique-v3-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/zen-kaku-gothic-antique-v3-latin-500.woff2") format("woff2"), url("../fonts/zen-kaku-gothic-antique-v3-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Zen Kaku Gothic Antique";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../fonts/zen-kaku-gothic-antique-v3-latin-700.woff2") format("woff2"), url("../fonts/zen-kaku-gothic-antique-v3-latin-700.woff") format("woff");
}
html {
  font-family: "Zen Kaku Gothic Antique", Arial, Helvetica, sans-serif;
  color: #f5f5f5;
  font-size: 14px;
  height: 100%;
  background: #151513;
}

body {
  height: 100%;
}

p {
  margin-bottom: 1em;
}

a {
  color: #4286F4;
  cursor: pointer;
}
p > a, span > a, a:hover {
  text-decoration: underline;
}

a.quiet {
  color: #f5f5f5;
}
a.quiet:hover {
  color: #4286F4;
  text-decoration: none;
}

.supertitle {
  font-size: 36px;
  line-height: 1.1em;
  font-weight: 700;
}

.title {
  font-size: 24px;
  line-height: 1.1em;
  font-weight: 700;
}

.smalltitle {
  font-size: 18px;
  line-height: 1.1em;
  font-weight: 700;
}

.subtitles {
  font-size: 18px;
  line-height: 1.1em;
}

.important {
  font-size: 16px;
  line-height: 1.1em;
}

.nav-element {
  font-size: 14px;
  line-height: 1.1em;
}
.nav-element--selected {
  font-weight: 700;
}

.bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.legend {
  font-size: 12px;
}

.label {
  font-size: 12px;
  text-transform: uppercase;
}

.button, .toggle-button {
  --btn-clr: #4286F4;
  text-transform: uppercase;
  font-weight: 700;
  padding: 1em;
  font-size: 1rem;
  color: #f5f5f5;
  background-color: var(--btn-clr, #4286F4);
  line-height: 1.3em;
  transition: 0.5s;
  text-align: center;
  display: inline-block;
  text-align: center;
}
.button:hover, .toggle-button:hover {
  --btn-clr: #72a5f7;
  cursor: pointer;
  text-decoration: none;
}
.button--large {
  font-size: 16px;
}
.button--small {
  font-size: 12px;
}
.button--ghost {
  background: transparent;
  border: 1px solid var(--btn-clr, #4286F4);
  color: var(--btn-clr, #4286F4);
}
.button--nude {
  background: transparent;
  color: #f5f5f5;
}
.button--nude:hover {
  color: var(--btn-clr, #4286F4);
}

.toggle {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.toggle-button {
  background: #54584F;
  padding-left: 3em;
  padding-right: 3em;
}
.toggle-button--active {
  background: #f5f5f5;
  color: #2A2B27;
}

.customscroll {
  scrollbar-width: thin;
  scrollbar-color: #f5f5f5 #54584F;
}
.customscroll::-webkit-scrollbar {
  width: 5px;
}
.customscroll::-webkit-scrollbar-track {
  background: #54584F;
}
.customscroll::-webkit-scrollbar-thumb {
  background: #f5f5f5;
}
.customscroll--horizontal::-webkit-scrollbar {
  width: auto;
  height: 5px;
}

.slider_img {
  position: relative;
  border: 0;
  display: block;
}
.slider_img > img {
  width: 100%;
  height: 100%;
}
.slider_img > img:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  object-fit: cover;
  object-position: 0 0;
  display: inline-block;
}
.slider_img > img:first-child::after {
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background: white;
}
.slider_img__range {
  position: absolute;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  margin: 0;
  top: 0;
  left: 0;
  opacity: 0;
}
.slider_img__range::-webkit-slider-thumb, .slider_img__range::-ms-thumb, .slider_img__range::-ms-thumb {
  opacity: 0;
}
.slider_img__btn {
  pointer-events: none;
  position: absolute;
  width: 2px;
  height: calc(50% - 20px);
  background-color: #f5f5f5;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider_img__btn::after {
  position: absolute;
  content: "";
  top: 100%;
  height: 40px;
  width: 40px;
  border: 3px solid #f5f5f5;
  transform: rotate(45deg) scale(0.8);
  box-sizing: border-box;
  background: rgba(245, 245, 245, 0.3);
  backdrop-filter: blur(10px);
}
.slider_img__btn::before {
  content: "";
  position: absolute;
  width: 2px;
  background: inherit;
  top: calc(100% + 40px);
  height: 100%;
}

.cookie-though {
  /* The colors used to style the modal */
  --ct-primary-400: #222;
  --ct-primary-300: #5A5A5A;
  --ct-primary-200: #f2f6f9;
  --ct-primary-100: #EDEDED;
  --ct-white: #ffffff;
  --gray-400: #5A5A5A;
  --gray-300: #f2f6f9;
  /* The colors used to style: customizationButton, headerDescription and cookiePolicy */
  --ct-text: #6b7280;
  /* The colors used to style the title elements */
  --ct-subtitle: var(--ct-primary-300);
  --ct-title: var(--ct-primary-400);
  /* The color used to style the cookie svg */
  --ct-cookie: var(--ct-primary-400);
  /* The colors used to style a policy */
  --ct-policy: var(--ct-white);
  --ct-policy-enabled: var(--ct-primary-400);
  --ct-policy-text: var(--ct-primary-400);
  --ct-policy-text-enabled: var(--ct-white);
  --ct-policy-essential: var(--ct-primary-100);
  /* The colors used to style the sliders */
  --ct-slider-primary: var(--gray-400);
  --ct-slider-secondary: var(--gray-300);
  --ct-slider-enabled-primary: var(--ct-white);
  --ct-slider-enabled-secondary: #6b7280;
  /* The font color of the text inside a policy when it's enabled  */
  --ct-enabled-option-color: var(--ct-white);
  /* The margin underneath text elements */
  --ct-text-margin: 0.25rem;
  /* The padding of the modal and margin of the banner, toggleButton and customization */
  --ct-default-padding: 1rem;
  /* The padding/margin used to seperate the options and the permission buttons */
  --ct-seperator-padding: 0.5rem;
  /* The font size of the header title */
  --ct-heading-font-size: 1rem;
  /* The font size of the header sub title */
  --ct-sub-heading-font-size: 0.875rem;
  /* The font size of text */
  --ct-text-font-size: 0.75rem;
  /* The font size of the customize button and permission button labels */
  --ct-button-font-size: 0.8125rem;
  /* The font used in the app */
  --ct-primary-font: $global-font-family;
  /* The font used for header description and policy description */
  --ct-secondary-font: $global-font-family;
  /* The z-index you want the root container to have */
  --ct-z-index: 9999;
  line-height: 1.5em;
}

.tb {
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
@media (min-width: 640px) {
  .tb {
    flex-direction: initial;
    align-items: center;
  }
}
.tb-logo {
  font-size: 1.75rem;
  font-weight: 700;
  color: #f5f5f5;
  padding: 1rem;
  text-transform: none;
  margin-top: -0.3em;
}
.tb-nav {
  justify-content: space-between;
  flex-grow: 1;
  align-items: center;
  display: none;
  flex-direction: column;
  align-items: stretch;
}
@media (min-width: 640px) {
  .tb-nav {
    display: flex;
    flex-direction: row;
    visibility: initial;
    opacity: 1;
  }
}
@media (min-width: 640px) {
  .tb-nav-user {
    order: 1;
  }
}
.tb-nav-user, .tb-nav-principal {
  display: flex;
  flex-direction: column;
}
@media (min-width: 640px) {
  .tb-nav-user, .tb-nav-principal {
    flex-direction: initial;
  }
}
.tb-nav-user .button, .tb-nav-user .toggle-button, .tb-nav-principal .button, .tb-nav-principal .toggle-button {
  display: block;
  padding-left: 2em;
  padding-right: 2em;
}

.ft {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
}
.ft-logo {
  font-size: 2em;
  color: #f5f5f5;
}
.ft-links {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  flex-flow: row wrap;
  gap: 1em;
}

input[type=checkbox], input[type=radiobutton] {
  width: 21px;
  height: 21px;
  border: 2px solid #f5f5f5;
  transition: 0.5s;
  position: relative;
  margin: 0;
}
input[type=checkbox]:checked, input[type=radiobutton]:checked {
  background-color: #4286F4;
  border-color: #4286F4;
}
input[type=checkbox]:checked:before, input[type=checkbox]:checked:after, input[type=radiobutton]:checked:before, input[type=radiobutton]:checked:after {
  content: "";
  position: absolute;
  background-color: #f5f5f5;
  transform: rotate(45deg);
}
input[type=checkbox]:checked::before, input[type=radiobutton]:checked::before {
  width: 8px;
  height: 2px;
  top: 10px;
  left: 1px;
}
input[type=checkbox]:checked::after, input[type=radiobutton]:checked::after {
  width: 2px;
  height: 12px;
  left: 11px;
  top: 2px;
}

input[type=radiobutton] {
  border-radius: 100%;
}

input[type=text], input[type=password], input[type=search] {
  --bc: transparent;
  width: 100%;
  background: #54584F;
  border: 0;
  outline: 0;
  color: #f5f5f5;
  font-size: 1rem;
  padding: 1em;
  flex-grow: 1;
  border: 2px solid var(--bc);
  transition: border 0.5s;
}

.fo-wrap {
  display: grid;
  grid-gap: 2em;
  padding: 1rem;
}
.fo-label {
  text-transform: uppercase;
}
.fo-line {
  display: grid;
  color: #f5f5f5;
  grid-gap: 0.5em;
}
.fo-iw {
  display: grid;
  grid-gap: 1em;
  position: relative;
}
.fo-iw--psw {
  --width: 0%;
  --color: transparent;
}
.fo-iw--psw[show=true] {
  display: block;
}
.fo-iw--psw[strength=bad] {
  --color: #F44336;
  --width: 25%;
}
.fo-iw--psw[strength=medium] {
  --width: 50%;
  --color: #FF9800;
}
.fo-iw--psw[strength=good] {
  --width: 75%;
  --color: #FFEE58;
}
.fo-iw--psw[strength=strong] {
  --width: 100%;
  --color: #5A9216;
}
.fo-iw-icon {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0.8em;
  width: calc(3em + 3px);
  height: calc(3em + 6px);
}
.fo-iw-icon__el {
  display: initial;
}
.fo-iw-icon--off {
  display: none;
}

.fo-iw-icon__el--sec {
  display: none;
}
.fo-iw-icon--off {
  display: initial;
}

.fo-iw-icon--left {
  left: 0;
  right: none;
}
.fo-iw--psw .fo-iw__input {
  border-color: var(--color);
}

.fo-iw-icon + .fo-iw__input {
  padding-right: 3em;
}

.fo-iw-icon--left + .fo-iw__input {
  padding-right: 0;
  padding-left: 3em;
}

.fo-iw__input:not(.fo-iw__input--deactivated):not(:placeholder-shown):not(:focus):valid, .fo-iw__input--correct {
  --bc: #5A9216;
}
.fo-iw__input:not(.fo-iw__input--deactivated):not(:placeholder-shown):not(:focus):invalid, .fo-iw__input--error {
  --bc: #F44336;
}
.fo-iw__input:hover, .fo-iw__input:focus, .fo-iw__input--focus {
  --bc: #f5f5f5;
}
.fo-iw__input::placeholder {
  color: inherit;
}
.fo-iw__help {
  top: 100%;
  display: block;
  opacity: 0;
  transition: 0.5s;
}
.fo-iw__input:focus + .fo-iw__help, .fo-iw__input:not(:placeholder-shown):invalid + .fo-iw__help, .fo-iw__help--show {
  opacity: 1;
}

.fo-iw__input:not(.fo-iw__input--deactivated):not(:focus):not(:placeholder-shown):invalid + .fo-iw__help {
  color: #F44336;
}

.fo-psw_str {
  display: flex;
  align-items: center;
  gap: 1em;
}
.fo-psw_str__bar {
  width: 220px;
  height: 6px;
  background: white;
  position: relative;
}
.fo-psw_str__bar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: var(--width);
  background-color: var(--color);
  transition: 0.5s;
}
.fo-psw_str__text {
  color: var(--color);
}

.ha {
  padding: 4em 1em;
  display: flex;
  gap: 2em;
  max-width: 1024px;
  margin: 0 auto;
}
.ha-main {
  display: flex;
  flex-grow: 1;
  gap: 2em;
  flex-direction: column;
}
.ha-related {
  flex-basis: 200px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.ha-rarticle {
  display: flex;
  gap: 0.5em;
}
.ha-rarticle:hover {
  color: #4286F4;
}
.ha-rarticle:hover::before {
  border-color: #4286F4;
}
.ha-rarticle__anchor {
  color: #f5f5f5;
}
.ha-rarticle::before {
  content: "";
  display: inline-block;
  border-right: 2px solid #f5f5f5;
  border-top: 2px solid #f5f5f5;
  transform: translateY(0.4em) rotate(45deg);
  font-size: 10px;
  width: 1em;
  height: 1em;
}
.ha-rarticle_list {
  display: contents;
}

.hc-header {
  display: flex;
  background: #151513;
  flex-direction: column;
  align-items: center;
  padding: 20rem 1rem;
  gap: 1em;
  text-align: center;
  max-width: 640px;
  width: 100%;
  margin: 0 auto;
}
.hc-category {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.hc-category-article__anchor {
  color: #f5f5f5;
}
.hc-category-article_list {
  display: contents;
}
.hc-category_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  padding: 8em 1em;
  max-width: 1024px;
  gap: 3rem;
  margin: 0 auto;
}
.hc-questions {
  text-align: center;
  padding: 8rem 1rem;
  width: 100%;
  gap: 1em;
  background: #f5f5f5;
  color: #2A2B27;
}
.hc-questions-option {
  color: #2A2B27;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.hc-questions-option__icon {
  fill: #2A2B27;
  width: 100%;
  height: 80px;
}
.hc-questions-option_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  justify-content: center;
  gap: 1rem;
  padding-top: 4em;
}

.he-breadcrumb {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.he-breadcrumb__item {
  display: contents;
}
.he-breadcrumb__item:not(:last-child)::after {
  content: "";
  border: 2px solid #f5f5f5;
  border-left: 0;
  border-bottom: 0;
  transform: rotate(45deg);
  font-size: 8px;
  width: 1em;
  height: 1em;
}

.hl {
  padding: 4em 1em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  max-width: 1024px;
  margin: 0 auto;
}
.hl-article {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hl-article::after {
  content: "";
  display: inline-block;
  border: 4px solid #f5f5f5;
  border-left: 0;
  border-bottom: 0;
  transform: translateY(0.3em) rotate(45deg);
  font-size: 15px;
  width: 1em;
  height: 1em;
}
.hl-article:hover::after {
  border-color: #4286F4;
}
.hl-article_list {
  display: contents;
}

.uc {
  display: flex;
  flex-direction: column;
  gap: 8em;
  padding: 8rem 1rem;
  margin: 0 auto;
  max-width: 1024px;
}
.uc-s {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-areas: "header" "info" "actions";
  grid-column-gap: 1em;
  grid-row-gap: 3em;
}
@media (min-width: 640px) {
  .uc-s {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "header actions" "info actions";
  }
}
@media (min-width: 1024px) {
  .uc-s {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header info actions";
  }
}
.uc-s-header {
  grid-area: header;
}
.uc-s-info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.uc-s-info-part {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.uc-s-info-part__msg {
  margin-top: 1em;
}
.uc-s-actions {
  grid-area: actions;
  display: flex;
  flex-direction: column;
  margin-left: -1em;
}
@media (min-width: 640px) {
  .uc-s-actions {
    margin-top: -1em;
    margin-bottom: -1em;
    margin-left: 0;
  }
}

.up {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 8rem 1rem;
  margin: 0 auto;
  max-width: 480px;
}
.up-logo {
  max-width: 120px;
}
.up--priceplan {
  max-width: 1200px;
  align-items: center;
  gap: 5em;
}
.up-legal_txt {
  overflow-y: auto;
  max-height: 200px;
  padding-right: 1rem;
}
.up-pay__paypal_logo {
  padding-left: 0.5em;
  padding-bottom: -0.3em;
}
.up-code {
  display: flex;
  gap: 5px;
}
.up-code-num {
  background-color: #54584F;
  border: 0;
  width: 50px;
  height: 50px;
  text-align: center;
  padding: 0;
  color: #f5f5f5;
}
.up-code-num:focus-visible {
  outline: 0;
}
.up-back {
  font-size: 35px;
  height: 1em;
  width: 1em;
  display: flex;
  background-color: #151513;
  border-radius: 100%;
  justify-content: center;
  align-items: center;
  padding: 0.1em;
  transition: 0.5s;
}
.up-back img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.up-back:hover {
  background-color: #4286F4;
}
.up-checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
}
.up-checkbox, .up-checkbox > * {
  cursor: pointer;
}
.up-list {
  list-style-type: square;
  padding-left: 1.1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5ems;
}
.up-list--checkbox {
  padding: 0;
}
.up-actions {
  display: flex;
  gap: 1em;
}
.up-actions--vertical {
  flex-direction: column;
}
.up-actions--rtl {
  justify-content: flex-end;
}
.up-advise {
  text-align: center;
  width: 100%;
}

.up-grid-line {
  padding-bottom: 0.5em;
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 0.5em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "date total" "description description";
  grid-column-gap: 1em;
  grid-row-gap: 0.5em;
}
@media (min-width: 640px) {
  .up-grid-line {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "date description total";
  }
}
.up-grid-line--header {
  display: none;
}
@media (min-width: 640px) {
  .up-grid-line--header {
    display: grid;
  }
}
.up-grid-line__date {
  grid-area: date;
}
.up-grid-line__description {
  grid-area: description;
}
.up-grid-line__total {
  grid-area: total;
  text-align: right;
}

.up-inter {
  margin: 0 auto;
  padding: 2em;
  display: flex;
  align-items: center;
  animation: 0.5s 0.5s inter both;
  display: flex;
  gap: 1em;
}
@keyframes inter {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
.up-inter-anim {
  display: inline-block;
  position: relative;
  width: 72px;
  height: 72px;
  animation: 10s 1s anim both;
  flex-shrink: 0;
}
@keyframes anim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.up-inter-anim:after, .up-inter-anim:before {
  content: "";
  position: absolute;
  border: 4px solid #f5f5f5;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  animation: anim-elements 2s both cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.up-inter-anim:before {
  animation-delay: -1s;
}
@keyframes anim-elements {
  0% {
    width: 0;
    height: 0;
    opacity: 0.9;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}
.up-inter_wrap {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(21, 21, 19, 0.7);
  backdrop-filter: blur(5px);
  animation: 0.5s inter-wrap both;
  z-index: 1;
  justify-content: flex-start;
}
@keyframes inter-wrap {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1s;
  }
}
.up-inter_wrap--on {
  display: grid;
}
.up-inter--on {
  overflow: hidden;
  height: 100%;
}

.up-modal {
  background: #151513;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  max-width: 460px;
}
.up-modal_wrap {
  display: flex;
  height: 100%;
  width: 100%;
  position: fixed;
  background: rgba(21, 21, 19, 0.7);
  backdrop-filter: blur(5px);
  z-index: 1;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
.up-modal_wrap--on {
  visibility: visible;
  opacity: 1;
}
.up-modal--on {
  overflow: hidden;
  height: 100%;
}

.up-plan_list {
  display: grid;
  grid-column-gap: 1rem;
  grid-row-gap: 4rem;
}
@media (min-width: 640px) {
  .up-plan_list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1024px) {
  .up-plan_list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.up-plan {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.up-plan-header {
  border-bottom: 2px solid #f5f5f5;
  padding-bottom: 1em;
  display: flex;
  gap: 1em;
}
.pm-plan--infinite .up-plan-header__number {
  font-size: 3rem;
  line-height: 1.9rem;
}

.up-plan-pricing {
  display: flex;
  gap: 1em;
  align-items: center;
}

.co-hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: "up" "com" "img";
  grid-column-gap: 4em;
  grid-row-gap: 8em;
  padding: 1em;
  padding-top: 8em;
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  justify-items: center;
}
@media (min-width: 640px) {
  .co-hero {
    grid-template-columns: auto auto;
    grid-template-areas: "com up" "img img";
  }
}
.co-hero-wrap {
  position: relative;
}
.co-hero-comercial {
  grid-area: com;
  display: flex;
  gap: 1em;
  flex-direction: column;
  align-items: start;
}
.co-hero-comercial__intro {
  max-width: 400px;
}
.co-hero-upload {
  grid-area: up;
  border: 1px solid #f5f5f5;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  max-width: 300px;
}
.co-hero-upload__icon {
  width: 50px;
}
.co-hero-upload-msg__txt {
  margin-right: 1em;
}
.co-hero-img {
  grid-area: img;
  width: 100%;
  max-width: 640px;
  margin-bottom: -8em;
  box-shadow: 0px 0px 20px 0px #151513;
}
.co-hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.co-hei {
  margin: 0 auto;
  max-width: 1024px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1rem;
  padding-top: 14rem;
  padding-bottom: 4rem;
}
.co-hei-header {
  max-width: 640px;
}
.co-hei-point {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.co-hei-point__title {
  margin-bottom: 0.5em;
}
.co-hei-point_list {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 2em;
  padding: 4em 0;
}
@media (min-width: 640px) {
  .co-hei-point_list {
    grid-auto-flow: column;
  }
}
.co-gr {
  background: #f5f5f5;
  color: #151513;
  display: flex;
  flex-direction: column;
  gap: 8em;
  padding: 8em 1em;
}
@media (min-width: 640px) {
  .co-gr {
    gap: 10em;
    padding: 10em 1em;
  }
}
.co-gr--negative {
  background: inherit;
  color: inherit;
}
.co-gr-header {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
.co-gr-header__title {
  max-width: 640px;
}
.co-gr-se {
  display: grid;
  margin: 0 auto;
  max-width: 1024px;
  grid-column-gap: 6em;
  grid-row-gap: 1em;
  align-content: start;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "img" "text";
}
@media (min-width: 640px) {
  .co-gr-se {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "img header" "img text" "img .";
  }
  .co-gr-se:nth-child(odd) {
    grid-template-columns: 1fr 2fr;
    grid-template-areas: " header img" " text img" " . img";
  }
}
.co-gr-se__img {
  grid-area: img;
  width: 100%;
  object-fit: contain;
  justify-self: center;
}
.co-gr-se__img--quick {
  max-width: 400px;
}
.co-gr-se__img--block {
  max-width: 400px;
}
.co-gr-se-header {
  grid-area: header;
}
.co-gr-se-txt {
  grid-area: text;
  padding-left: 1em;
}
.co-faq {
  background: #f5f5f5;
  color: #151513;
  padding: 4em 1em;
}
.co-faq-header {
  padding-bottom: 3em;
}
.co-faq-header, .co-faq-item_list {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}
.co-faq-item {
  border-color: #54584F;
  border-style: solid;
  border-top-width: 1px;
  padding: 2rem 0;
}
.co-faq-item:last-child {
  border-bottom-width: 1px;
}
.co-faq-item-question {
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.co-faq-item-question::after {
  content: "";
  display: inline-block;
  border: 2px solid #54584F;
  border-left: 0;
  border-bottom: 0;
  transform: translateY(0.3em) translateX(-0.3em) rotate(135deg);
  font-size: 10px;
  width: 1em;
  height: 1em;
  transition: 0.5s;
}
.co-faq-item--active .co-faq-item-question::after {
  transform: translateY(0.3em) translateX(-0.3em) rotate(-45deg);
}

.co-faq-item-cnt {
  max-height: 0;
  overflow: hidden;
  transition: 0.5s;
}
.co-faq-item-cnt > p:first-child {
  padding-top: 2rem;
}
.co-faq-item-cnt > p:last-child {
  margin-bottom: 0;
}
.co-faq-item--active .co-faq-item-cnt {
  max-height: 22rem;
}

.fq {
  display: grid;
  grid-template-areas: "header" "nav" "cnt" s;
  grid-column-gap: 1rem;
  grid-row-gap: 3rem;
  padding: 0 1rem;
}
@media (min-width: 640px) {
  .fq {
    grid-template-areas: "header header" "nav cnt";
    grid-template-columns: 200px auto;
  }
}
.fq-header {
  display: grid;
  grid-area: header;
  background: #2A2B27;
  margin: 0 -1rem;
  padding: 3rem 1rem;
}
@media (min-width: 640px) {
  .fq-header {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
  }
}
.fq-header-cnt {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.fq-header__img {
  max-height: 380px;
}
.fq-nav {
  grid-area: nav;
}
.fq-nav__item {
  padding: 0.5em;
  margin-left: -0.5em;
}
.fq-nav__item--sub {
  margin-left: 0;
  padding-left: 1em;
}
.fq-nav-item_list {
  display: flex;
  flex-direction: column;
}
.fq-cnt {
  grid-area: cnt;
}
.fq-sc {
  display: grid;
  grid-template-areas: "header" "main" "sprt";
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}
@media (min-width: 640px) {
  .fq-sc {
    grid-template-areas: "header header" "main sprt";
  }
}
.fq-sc-header {
  grid-area: header;
}
.fq-sc-main {
  grid-area: main;
}
.fq-sc-sprt {
  grid-area: sprt;
}

.br {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 4rem;
}
.br-circle_sel {
  border-radius: 100%;
  border: 2px solid #f5f5f5;
  padding: 0.1em;
  height: 18px;
  width: 18px;
}
.br-circle_sel img {
  height: 100%;
  width: 100%;
}
.br-row {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.br-bar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f5f5f5;
  padding: 0.5rem 0;
}
.br-bar-head {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.br-bar-action_list {
  display: flex;
  gap: 2rem;
  align-items: center;
}
.br-bar-action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.br-img_list {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, 100%);
  grid-gap: 2rem;
}
@media (min-width: 640px) {
  .br-img_list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.br-img {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}
.br-img::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, rgba(21, 21, 19, 0.8) 0%, rgba(21, 21, 19, 0) 100%);
  z-index: 1;
}
.br-img__el {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.br-img__del {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  z-index: 2;
}
.br-img__sel {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  margin: 0.5rem;
}
.br-img__down {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
  z-index: 2;
  background: rgba(21, 21, 19, 0.75);
  border-radius: 0.5rem;
  margin: 0.5rem;
}

.vi-hero {
  display: grid;
  width: 100%;
  padding: 6rem 1rem;
  max-width: 1024px;
  margin: 0 auto;
  align-items: end;
  align-content: center;
  grid-gap: 1rem;
  grid-auto-flow: row;
  grid-template-areas: "img" "text";
}
@media (min-width: 640px) {
  .vi-hero {
    grid-template-columns: 3fr 5fr;
    grid-auto-flow: column;
    grid-template-areas: "text img";
  }
}
.vi-hero_wrap {
  position: relative;
  overflow: hidden;
}
.vi-hero_wrap::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 20%;
  background: linear-gradient(0deg, #151513, transparent);
  bottom: 0;
}
.vi-hero-text {
  grid-area: text;
}
.vi-hero-text__description {
  margin-bottom: -1rem;
}
.vi-hero__img {
  grid-area: img;
  width: 100%;
  object-fit: cover;
  aspect-ratio: 16/9;
  box-shadow: 0 0 10px rgba(21, 21, 19, 0.5);
}
.vi-hero__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: blur(10px);
  opacity: 0.8;
}
.vi-header {
  display: grid;
  grid-gap: 2rem;
  padding: 4rem 1rem;
}
@media (min-width: 640px) {
  .vi-header {
    grid-template-columns: 200px 300px;
  }
}
.vi-header-main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.vi-header-main-share {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  padding-top: 2rem;
}
.vi-header-main-share-item_list {
  display: flex;
  gap: 0.5em;
}
.vi-header-main-share-item {
  height: 24px;
  width: 24px;
}

.vs {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  padding: 8rem 0;
}
.vs-input {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 1rem;
}
.vs__msg {
  text-align: center;
  padding: 0 1rem;
}

.vg-group_list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  user-select: none;
}
.vg-group {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.vg-list {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}
.vg-list-act {
  position: absolute;
  z-index: 4;
  transition: 0.5s opacity;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.vg-list-act--disabled {
  opacity: 0;
}
.vg-list-act--prev {
  top: 50%;
  transform: translateY(-50%);
}
.ve-item_list-act--disabled + .vg-list-act--prev {
  height: 100%;
  background: linear-gradient(90deg, #151513, transparent);
}

.vg-list-act--next {
  height: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(-90deg, #151513, transparent);
}
.vg-list-act__img {
  width: 60px;
  transition: 0.5s opacity;
}
.ve-item_list:not(:hover) .vg-list-act__img {
  opacity: 0;
}

.vg-list-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}
.vi-group--search .vg-list-wrapper {
  display: inline-grid;
  grid-template-columns: repeat(auto-fill, 100%);
  grid-gap: 2rem;
}
@media (min-width: 640px) {
  .vi-group--search .vg-list-wrapper {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}

.ve {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}
.ve-title__anchor {
  color: #f5f5f5;
}
.ve-title__anchor:hover {
  text-decoration: none;
}
.ve-title__anchor::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}
.ve__img {
  width: 100%;
  aspect-ratio: 4/3;
  object-fit: cover;
}
.vi-group--brand .ve__img {
  aspect-ratio: 1/1;
}

.ve-info {
  display: flex;
  gap: 0.5em;
}
.ve-info__what {
  display: contents;
}
.ve-info__what::after {
  content: "|";
}

:root {
  --plyr-color-main: #e7401f;
  --plyr-control-icon-size: 15px;
  --plyr-control-spacing: 8px;
  --plyr-control-padding: calc(var(--plyr-control-spacing) * 0.7);
  --plyr-control-radius: 1px;
  --plyr-range-thumb-height: 10px;
  --plyr-range-thumb-background: var(--plyr-color-main);
  --plyr-range-thumb-active-shadow-width: 3px;
  --plyr-range-track-height: 3px;
  --plyr-tooltip-background: rgba(0, 0, 0, 0.5);
  --plyr-tooltip-color: #fff;
  --plyr-tooltip-radius: 1px;
  --plyr-font-family: "Dystopian", sans-serif;
  --plyr-font-size-small: 11px;
  --plyr-font-weight-regular: 400;
  --plyr-font-weight-bold: 700;
}

@keyframes plyr-progress {
  to {
    background-position: var(--plyr-progress-loading-size, 25px) 0;
  }
}
@keyframes plyr-popup {
  0% {
    opacity: 0.5;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes plyr-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.plyr {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  direction: ltr;
  display: flex;
  flex-direction: column;
  font-family: var(--plyr-font-family, inherit);
  font-variant-numeric: tabular-nums;
  font-weight: var(--plyr-font-weight-regular, 400);
  line-height: var(--plyr-line-height, 1.7);
  max-width: 100%;
  min-width: 200px;
  position: relative;
  text-shadow: none;
  transition: box-shadow 0.3s ease;
  z-index: 0;
}
.plyr video,
.plyr audio,
.plyr iframe {
  display: block;
  height: 100%;
  width: 100%;
}
.plyr button {
  font: inherit;
  line-height: inherit;
  width: auto;
}
.plyr:focus {
  outline: 0;
}

.plyr--full-ui {
  box-sizing: border-box;
}
.plyr--full-ui *,
.plyr--full-ui *::after,
.plyr--full-ui *::before {
  box-sizing: inherit;
}

.plyr--full-ui a,
.plyr--full-ui button,
.plyr--full-ui input,
.plyr--full-ui label {
  touch-action: manipulation;
}

.plyr__badge {
  background: var(--plyr-badge-background, #4a5464);
  border-radius: var(--plyr-badge-border-radius, 2px);
  color: var(--plyr-badge-text-color, #fff);
  font-size: var(--plyr-font-size-badge, 9px);
  line-height: 1;
  padding: 3px 4px;
}

.plyr--full-ui ::-webkit-media-text-track-container {
  display: none;
}

.plyr__captions {
  animation: plyr-fade-in 0.3s ease;
  bottom: 0;
  display: none;
  font-size: var(--plyr-font-size-small, 13px);
  left: 0;
  padding: var(--plyr-control-spacing, 10px);
  position: absolute;
  text-align: center;
  transition: transform 0.4s ease-in-out;
  width: 100%;
}
.plyr__captions span:empty {
  display: none;
}
@media (min-width: 480px) {
  .plyr__captions {
    font-size: var(--plyr-font-size-base, 15px);
    padding: calc(var(--plyr-control-spacing, 10px) * 2);
  }
}
@media (min-width: 768px) {
  .plyr__captions {
    font-size: var(--plyr-font-size-large, 18px);
  }
}

.plyr--captions-active .plyr__captions {
  display: block;
}

.plyr:not(.plyr--hide-controls) .plyr__controls:not(:empty) ~ .plyr__captions {
  transform: translateY(calc(var(--plyr-control-spacing, 10px) * -4));
}

.plyr__caption {
  background: var(--plyr-captions-background, rgba(0, 0, 0, 0.8));
  border-radius: 2px;
  box-decoration-break: clone;
  color: var(--plyr-captions-text-color, #fff);
  line-height: 185%;
  padding: 0.2em 0.5em;
  white-space: pre-wrap;
}
.plyr__caption div {
  display: inline;
}

.plyr__control {
  background: transparent;
  border: 0;
  border-radius: var(--plyr-control-radius, 3px);
  color: inherit;
  cursor: pointer;
  flex-shrink: 0;
  overflow: visible;
  padding: calc(var(--plyr-control-spacing, 10px) * 0.7);
  position: relative;
  transition: all 0.3s ease;
}
.plyr__control svg {
  display: block;
  fill: currentColor;
  height: var(--plyr-control-icon-size, 18px);
  pointer-events: none;
  width: var(--plyr-control-icon-size, 18px);
}
.plyr__control:focus {
  outline: 0;
}
.plyr__control.plyr__tab-focus {
  outline-color: var(--plyr-tab-focus-color, var(--plyr-color-main, var(--plyr-color-main, #00b3ff)));
  outline-offset: 2px;
  outline-style: dotted;
  outline-width: 3px;
}

a.plyr__control {
  text-decoration: none;
}
a.plyr__control::after, a.plyr__control::before {
  display: none;
}

.plyr__control:not(.plyr__control--pressed) .icon--pressed,
.plyr__control.plyr__control--pressed .icon--not-pressed,
.plyr__control:not(.plyr__control--pressed) .label--pressed,
.plyr__control.plyr__control--pressed .label--not-pressed {
  display: none;
}

.plyr--full-ui ::-webkit-media-controls {
  display: none;
}

.plyr__controls {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  text-align: center;
}
.plyr__controls .plyr__progress__container {
  flex: 1;
  min-width: 0;
}
.plyr__controls .plyr__controls__item {
  margin-left: calc(var(--plyr-control-spacing, 10px) / 4);
}
.plyr__controls .plyr__controls__item:first-child {
  margin-left: 0;
  margin-right: auto;
}
.plyr__controls .plyr__controls__item.plyr__progress__container {
  padding-left: calc(var(--plyr-control-spacing, 10px) / 4);
}
.plyr__controls .plyr__controls__item.plyr__time {
  padding: 0 calc(var(--plyr-control-spacing, 10px) / 2);
}
.plyr__controls .plyr__controls__item.plyr__progress__container:first-child, .plyr__controls .plyr__controls__item.plyr__time:first-child, .plyr__controls .plyr__controls__item.plyr__time + .plyr__time {
  padding-left: 0;
}
.plyr__controls:empty {
  display: none;
}

.plyr [data-plyr=captions],
.plyr [data-plyr=pip],
.plyr [data-plyr=airplay],
.plyr [data-plyr=fullscreen] {
  display: none;
}

.plyr--captions-enabled [data-plyr=captions],
.plyr--pip-supported [data-plyr=pip],
.plyr--airplay-supported [data-plyr=airplay],
.plyr--fullscreen-enabled [data-plyr=fullscreen] {
  display: inline-block;
}

.plyr__menu {
  display: flex;
  position: relative;
}
.plyr__menu .plyr__control svg {
  transition: transform 0.3s ease;
}
.plyr__menu .plyr__control[aria-expanded=true] svg {
  transform: rotate(90deg);
}
.plyr__menu .plyr__control[aria-expanded=true] .plyr__tooltip {
  display: none;
}
.plyr__menu__container {
  animation: plyr-popup 0.2s ease;
  background: var(--plyr-menu-background, rgba(255, 255, 255, 0.9));
  border-radius: 4px;
  bottom: 100%;
  box-shadow: var(--plyr-menu-shadow, 0 1px 2px rgba(0, 0, 0, 0.15));
  color: var(--plyr-menu-color, #4a5464);
  font-size: var(--plyr-font-size-base, 15px);
  margin-bottom: 10px;
  position: absolute;
  right: -3px;
  text-align: left;
  white-space: nowrap;
  z-index: 3;
}
.plyr__menu__container > div {
  overflow: hidden;
  transition: height 0.35s cubic-bezier(0.4, 0, 0.2, 1), width 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.plyr__menu__container::after {
  border: var(--plyr-menu-arrow-size, 4px) solid transparent;
  border-top-color: var(--plyr-menu-background, rgba(255, 255, 255, 0.9));
  content: "";
  height: 0;
  position: absolute;
  right: calc(((var(--plyr-control-icon-size, 18px) / 2) + calc(var(--plyr-control-spacing, 10px) * 0.7)) - (var(--plyr-menu-arrow-size, 4px) / 2));
  top: 100%;
  width: 0;
}
.plyr__menu__container [role=menu] {
  padding: calc(var(--plyr-control-spacing, 10px) * 0.7);
}
.plyr__menu__container [role=menuitem],
.plyr__menu__container [role=menuitemradio] {
  margin-top: 2px;
}
.plyr__menu__container [role=menuitem]:first-child,
.plyr__menu__container [role=menuitemradio]:first-child {
  margin-top: 0;
}
.plyr__menu__container .plyr__control {
  align-items: center;
  color: var(--plyr-menu-color, #4a5464);
  display: flex;
  font-size: var(--plyr-font-size-menu, var(--plyr-font-size-small, 13px));
  padding-bottom: calc(calc(var(--plyr-control-spacing, 10px) * 0.7) / 1.5);
  padding-left: calc(calc(var(--plyr-control-spacing, 10px) * 0.7) * 1.5);
  padding-right: calc(calc(var(--plyr-control-spacing, 10px) * 0.7) * 1.5);
  padding-top: calc(calc(var(--plyr-control-spacing, 10px) * 0.7) / 1.5);
  user-select: none;
  width: 100%;
}
.plyr__menu__container .plyr__control > span {
  align-items: inherit;
  display: flex;
  width: 100%;
}
.plyr__menu__container .plyr__control::after {
  border: var(--plyr-menu-item-arrow-size, 4px) solid transparent;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.plyr__menu__container .plyr__control--forward {
  padding-right: calc(calc(var(--plyr-control-spacing, 10px) * 0.7) * 4);
}
.plyr__menu__container .plyr__control--forward::after {
  border-left-color: var(--plyr-menu-arrow-color, #728197);
  right: calc((calc(var(--plyr-control-spacing, 10px) * 0.7) * 1.5) - var(--plyr-menu-item-arrow-size, 4px));
}
.plyr__menu__container .plyr__control--forward.plyr__tab-focus::after, .plyr__menu__container .plyr__control--forward:hover::after {
  border-left-color: currentColor;
}
.plyr__menu__container .plyr__control--back {
  font-weight: var(--plyr-font-weight-regular, 400);
  margin: calc(var(--plyr-control-spacing, 10px) * 0.7);
  margin-bottom: calc(calc(var(--plyr-control-spacing, 10px) * 0.7) / 2);
  padding-left: calc(calc(var(--plyr-control-spacing, 10px) * 0.7) * 4);
  position: relative;
  width: calc(100% - (calc(var(--plyr-control-spacing, 10px) * 0.7) * 2));
}
.plyr__menu__container .plyr__control--back::after {
  border-right-color: var(--plyr-menu-arrow-color, #728197);
  left: calc((calc(var(--plyr-control-spacing, 10px) * 0.7) * 1.5) - var(--plyr-menu-item-arrow-size, 4px));
}
.plyr__menu__container .plyr__control--back::before {
  background: var(--plyr-menu-back-border-color, #dcdfe5);
  box-shadow: 0 1px 0 var(--plyr-menu-back-border-shadow-color, #fff);
  content: "";
  height: 1px;
  left: 0;
  margin-top: calc(calc(var(--plyr-control-spacing, 10px) * 0.7) / 2);
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 100%;
}
.plyr__menu__container .plyr__control--back.plyr__tab-focus::after, .plyr__menu__container .plyr__control--back:hover::after {
  border-right-color: currentColor;
}
.plyr__menu__container .plyr__control[role=menuitemradio] {
  padding-left: calc(var(--plyr-control-spacing, 10px) * 0.7);
}
.plyr__menu__container .plyr__control[role=menuitemradio]::before, .plyr__menu__container .plyr__control[role=menuitemradio]::after {
  border-radius: 100%;
}
.plyr__menu__container .plyr__control[role=menuitemradio]::before {
  background: rgba(0, 0, 0, 0.1);
  content: "";
  display: block;
  flex-shrink: 0;
  height: 16px;
  margin-right: var(--plyr-control-spacing, 10px);
  transition: all 0.3s ease;
  width: 16px;
}
.plyr__menu__container .plyr__control[role=menuitemradio]::after {
  background: #fff;
  border: 0;
  height: 6px;
  left: 12px;
  opacity: 0;
  top: 50%;
  transform: translateY(-50%) scale(0);
  transition: transform 0.3s ease, opacity 0.3s ease;
  width: 6px;
}
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::before {
  background: var(--plyr-control-toggle-checked-background, var(--plyr-color-main, var(--plyr-color-main, #00b3ff)));
}
.plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]::after {
  opacity: 1;
  transform: translateY(-50%) scale(1);
}
.plyr__menu__container .plyr__control[role=menuitemradio].plyr__tab-focus::before, .plyr__menu__container .plyr__control[role=menuitemradio]:hover::before {
  background: rgba(35, 40, 47, 0.1);
}
.plyr__menu__container .plyr__menu__value {
  align-items: center;
  display: flex;
  margin-left: auto;
  margin-right: calc((calc(var(--plyr-control-spacing, 10px) * 0.7) - 2) * -1);
  overflow: hidden;
  padding-left: calc(calc(var(--plyr-control-spacing, 10px) * 0.7) * 3.5);
  pointer-events: none;
}

.plyr--full-ui input[type=range] {
  -webkit-appearance: none;
  /* stylelint-disable-line */
  background: transparent;
  border: 0;
  border-radius: calc(var(--plyr-range-thumb-height, 13px) * 2);
  color: var(--plyr-range-fill-background, var(--plyr-color-main, var(--plyr-color-main, #00b3ff)));
  display: block;
  height: calc((var(--plyr-range-thumb-active-shadow-width, 3px) * 2) + var(--plyr-range-thumb-height, 13px));
  margin: 0;
  min-width: 0;
  padding: 0;
  transition: box-shadow 0.3s ease;
  width: 100%;
}
.plyr--full-ui input[type=range]::-webkit-slider-runnable-track {
  background: transparent;
  border: 0;
  border-radius: calc(var(--plyr-range-track-height, 5px) / 2);
  height: var(--plyr-range-track-height, 5px);
  transition: box-shadow 0.3s ease;
  user-select: none;
  background-image: linear-gradient(to right, currentColor var(--value, 0%), transparent var(--value, 0%));
}
.plyr--full-ui input[type=range]::-webkit-slider-thumb {
  background: var(--plyr-range-thumb-background, #fff);
  border: 0;
  border-radius: 100%;
  box-shadow: var(--plyr-range-thumb-shadow, 0 1px 1px rgba(35, 40, 47, 0.15), 0 0 0 1px rgba(35, 40, 47, 0.2));
  height: var(--plyr-range-thumb-height, 13px);
  position: relative;
  transition: all 0.2s ease;
  width: var(--plyr-range-thumb-height, 13px);
  -webkit-appearance: none;
  /* stylelint-disable-line */
  margin-top: calc((var(--plyr-range-thumb-height, 13px) - var(--plyr-range-track-height, 5px)) / 2 * -1);
}
.plyr--full-ui input[type=range]::-moz-range-track {
  background: transparent;
  border: 0;
  border-radius: calc(var(--plyr-range-track-height, 5px) / 2);
  height: var(--plyr-range-track-height, 5px);
  transition: box-shadow 0.3s ease;
  user-select: none;
}
.plyr--full-ui input[type=range]::-moz-range-thumb {
  background: var(--plyr-range-thumb-background, #fff);
  border: 0;
  border-radius: 100%;
  box-shadow: var(--plyr-range-thumb-shadow, 0 1px 1px rgba(35, 40, 47, 0.15), 0 0 0 1px rgba(35, 40, 47, 0.2));
  height: var(--plyr-range-thumb-height, 13px);
  position: relative;
  transition: all 0.2s ease;
  width: var(--plyr-range-thumb-height, 13px);
}
.plyr--full-ui input[type=range]::-moz-range-progress {
  background: currentColor;
  border-radius: calc(var(--plyr-range-track-height, 5px) / 2);
  height: var(--plyr-range-track-height, 5px);
}
.plyr--full-ui input[type=range]::-ms-track {
  background: transparent;
  border: 0;
  border-radius: calc(var(--plyr-range-track-height, 5px) / 2);
  height: var(--plyr-range-track-height, 5px);
  transition: box-shadow 0.3s ease;
  user-select: none;
  color: transparent;
}
.plyr--full-ui input[type=range]::-ms-fill-upper {
  background: transparent;
  border: 0;
  border-radius: calc(var(--plyr-range-track-height, 5px) / 2);
  height: var(--plyr-range-track-height, 5px);
  transition: box-shadow 0.3s ease;
  user-select: none;
}
.plyr--full-ui input[type=range]::-ms-fill-lower {
  background: transparent;
  border: 0;
  border-radius: calc(var(--plyr-range-track-height, 5px) / 2);
  height: var(--plyr-range-track-height, 5px);
  transition: box-shadow 0.3s ease;
  user-select: none;
  background: currentColor;
}
.plyr--full-ui input[type=range]::-ms-thumb {
  background: var(--plyr-range-thumb-background, #fff);
  border: 0;
  border-radius: 100%;
  box-shadow: var(--plyr-range-thumb-shadow, 0 1px 1px rgba(35, 40, 47, 0.15), 0 0 0 1px rgba(35, 40, 47, 0.2));
  height: var(--plyr-range-thumb-height, 13px);
  position: relative;
  transition: all 0.2s ease;
  width: var(--plyr-range-thumb-height, 13px);
  margin-top: 0;
}
.plyr--full-ui input[type=range]::-ms-tooltip {
  display: none;
}
.plyr--full-ui input[type=range]:focus {
  outline: 0;
}
.plyr--full-ui input[type=range]::-moz-focus-outer {
  border: 0;
}
.plyr--full-ui input[type=range].plyr__tab-focus::-webkit-slider-runnable-track {
  outline-color: var(--plyr-tab-focus-color, var(--plyr-color-main, var(--plyr-color-main, #00b3ff)));
  outline-offset: 2px;
  outline-style: dotted;
  outline-width: 3px;
}
.plyr--full-ui input[type=range].plyr__tab-focus::-moz-range-track {
  outline-color: var(--plyr-tab-focus-color, var(--plyr-color-main, var(--plyr-color-main, #00b3ff)));
  outline-offset: 2px;
  outline-style: dotted;
  outline-width: 3px;
}
.plyr--full-ui input[type=range].plyr__tab-focus::-ms-track {
  outline-color: var(--plyr-tab-focus-color, var(--plyr-color-main, var(--plyr-color-main, #00b3ff)));
  outline-offset: 2px;
  outline-style: dotted;
  outline-width: 3px;
}

.plyr__poster {
  background-color: var(--plyr-video-background, var(--plyr-video-background, black));
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease;
  width: 100%;
  z-index: 1;
}

.plyr--stopped.plyr__poster-enabled .plyr__poster {
  opacity: 1;
}

.plyr--youtube.plyr--paused.plyr__poster-enabled:not(.plyr--stopped) .plyr__poster {
  display: none;
}

.plyr__time {
  font-size: var(--plyr-font-size-time, var(--plyr-font-size-small, 13px));
}

.plyr__time + .plyr__time::before {
  content: "⁄";
  margin-right: var(--plyr-control-spacing, 10px);
}
@media (max-width: 767px) {
  .plyr__time + .plyr__time {
    display: none;
  }
}

.plyr__tooltip {
  background: var(--plyr-tooltip-background, rgba(255, 255, 255, 0.9));
  border-radius: var(--plyr-tooltip-radius, 3px);
  bottom: 100%;
  box-shadow: var(--plyr-tooltip-shadow, 0 1px 2px rgba(0, 0, 0, 0.15));
  color: var(--plyr-tooltip-color, #4a5464);
  font-size: var(--plyr-font-size-small, 13px);
  font-weight: var(--plyr-font-weight-regular, 400);
  left: 50%;
  line-height: 1.3;
  margin-bottom: calc(calc(var(--plyr-control-spacing, 10px) / 2) * 2);
  opacity: 0;
  padding: calc(var(--plyr-control-spacing, 10px) / 2) calc(calc(var(--plyr-control-spacing, 10px) / 2) * 1.5);
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, 10px) scale(0.8);
  transform-origin: 50% 100%;
  transition: transform 0.2s 0.1s ease, opacity 0.2s 0.1s ease;
  white-space: nowrap;
  z-index: 2;
}
.plyr__tooltip::before {
  border-left: var(--plyr-tooltip-arrow-size, 4px) solid transparent;
  border-right: var(--plyr-tooltip-arrow-size, 4px) solid transparent;
  border-top: var(--plyr-tooltip-arrow-size, 4px) solid var(--plyr-tooltip-background, rgba(255, 255, 255, 0.9));
  bottom: calc(var(--plyr-tooltip-arrow-size, 4px) * -1);
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
  z-index: 2;
}

.plyr .plyr__control:hover .plyr__tooltip,
.plyr .plyr__control.plyr__tab-focus .plyr__tooltip,
.plyr__tooltip--visible {
  opacity: 1;
  transform: translate(-50%, 0) scale(1);
}

.plyr .plyr__control:hover .plyr__tooltip {
  z-index: 3;
}

.plyr__controls > .plyr__control:first-child .plyr__tooltip,
.plyr__controls > .plyr__control:first-child + .plyr__control .plyr__tooltip {
  left: 0;
  transform: translate(0, 10px) scale(0.8);
  transform-origin: 0 100%;
}
.plyr__controls > .plyr__control:first-child .plyr__tooltip::before,
.plyr__controls > .plyr__control:first-child + .plyr__control .plyr__tooltip::before {
  left: calc((var(--plyr-control-icon-size, 18px) / 2) + calc(var(--plyr-control-spacing, 10px) * 0.7));
}

.plyr__controls > .plyr__control:last-child .plyr__tooltip {
  left: auto;
  right: 0;
  transform: translate(0, 10px) scale(0.8);
  transform-origin: 100% 100%;
}
.plyr__controls > .plyr__control:last-child .plyr__tooltip::before {
  left: auto;
  right: calc((var(--plyr-control-icon-size, 18px) / 2) + calc(var(--plyr-control-spacing, 10px) * 0.7));
  transform: translateX(50%);
}

.plyr__controls > .plyr__control:first-child:hover .plyr__tooltip, .plyr__controls > .plyr__control:first-child.plyr__tab-focus .plyr__tooltip,
.plyr__controls > .plyr__control:first-child .plyr__tooltip--visible,
.plyr__controls > .plyr__control:first-child + .plyr__control:hover .plyr__tooltip,
.plyr__controls > .plyr__control:first-child + .plyr__control.plyr__tab-focus .plyr__tooltip,
.plyr__controls > .plyr__control:first-child + .plyr__control .plyr__tooltip--visible,
.plyr__controls > .plyr__control:last-child:hover .plyr__tooltip,
.plyr__controls > .plyr__control:last-child.plyr__tab-focus .plyr__tooltip,
.plyr__controls > .plyr__control:last-child .plyr__tooltip--visible {
  transform: translate(0, 0) scale(1);
}

.plyr__progress {
  left: calc(var(--plyr-range-thumb-height, 13px) * 0.5);
  margin-right: var(--plyr-range-thumb-height, 13px);
  position: relative;
}
.plyr__progress input[type=range], .plyr__progress__buffer {
  margin-left: calc(var(--plyr-range-thumb-height, 13px) * -0.5);
  margin-right: calc(var(--plyr-range-thumb-height, 13px) * -0.5);
  width: calc(100% + var(--plyr-range-thumb-height, 13px));
}
.plyr__progress input[type=range] {
  position: relative;
  z-index: 2;
}
.plyr__progress .plyr__tooltip {
  font-size: var(--plyr-font-size-time, var(--plyr-font-size-small, 13px));
  left: 0;
}

.plyr__progress__buffer {
  -webkit-appearance: none;
  /* stylelint-disable-line */
  background: transparent;
  border: 0;
  border-radius: 100px;
  height: var(--plyr-range-track-height, 5px);
  left: 0;
  margin-top: calc((var(--plyr-range-track-height, 5px) / 2) * -1);
  padding: 0;
  position: absolute;
  top: 50%;
}
.plyr__progress__buffer::-webkit-progress-bar {
  background: transparent;
}
.plyr__progress__buffer::-webkit-progress-value {
  background: currentColor;
  border-radius: 100px;
  min-width: var(--plyr-range-track-height, 5px);
  transition: width 0.2s ease;
}
.plyr__progress__buffer::-moz-progress-bar {
  background: currentColor;
  border-radius: 100px;
  min-width: var(--plyr-range-track-height, 5px);
  transition: width 0.2s ease;
}
.plyr__progress__buffer::-ms-fill {
  border-radius: 100px;
  transition: width 0.2s ease;
}

.plyr--loading .plyr__progress__buffer {
  animation: plyr-progress 1s linear infinite;
  background-image: linear-gradient(-45deg, var(--plyr-progress-loading-background, rgba(35, 40, 47, 0.6)) 25%, transparent 25%, transparent 50%, var(--plyr-progress-loading-background, rgba(35, 40, 47, 0.6)) 50%, var(--plyr-progress-loading-background, rgba(35, 40, 47, 0.6)) 75%, transparent 75%, transparent);
  background-repeat: repeat-x;
  background-size: var(--plyr-progress-loading-size, 25px) var(--plyr-progress-loading-size, 25px);
  color: transparent;
}

.plyr--video.plyr--loading .plyr__progress__buffer {
  background-color: var(--plyr-video-progress-buffered-background, rgba(255, 255, 255, 0.25));
}

.plyr--audio.plyr--loading .plyr__progress__buffer {
  background-color: var(--plyr-audio-progress-buffered-background, rgba(193, 200, 209, 0.6));
}

.plyr__volume {
  align-items: center;
  display: flex;
  max-width: 110px;
  min-width: 80px;
  position: relative;
  width: 20%;
}
.plyr__volume input[type=range] {
  margin-left: calc(var(--plyr-control-spacing, 10px) / 2);
  margin-right: calc(var(--plyr-control-spacing, 10px) / 2);
  position: relative;
  z-index: 2;
}

.plyr--is-ios .plyr__volume {
  min-width: 0;
  width: auto;
}

.plyr--audio {
  display: block;
}

.plyr--audio .plyr__controls {
  background: var(--plyr-audio-controls-background, #fff);
  border-radius: inherit;
  color: var(--plyr-audio-control-color, #4a5464);
  padding: var(--plyr-control-spacing, 10px);
}

.plyr--audio .plyr__control.plyr__tab-focus, .plyr--audio .plyr__control:hover, .plyr--audio .plyr__control[aria-expanded=true] {
  background: var(--plyr-audio-control-background-hover, var(--plyr-color-main, var(--plyr-color-main, #00b3ff)));
  color: var(--plyr-audio-control-color-hover, #fff);
}

.plyr--full-ui.plyr--audio input[type=range]::-webkit-slider-runnable-track {
  background-color: var(--plyr-audio-range-track-background, var(--plyr-audio-progress-buffered-background, rgba(193, 200, 209, 0.6)));
}
.plyr--full-ui.plyr--audio input[type=range]::-moz-range-track {
  background-color: var(--plyr-audio-range-track-background, var(--plyr-audio-progress-buffered-background, rgba(193, 200, 209, 0.6)));
}
.plyr--full-ui.plyr--audio input[type=range]::-ms-track {
  background-color: var(--plyr-audio-range-track-background, var(--plyr-audio-progress-buffered-background, rgba(193, 200, 209, 0.6)));
}
.plyr--full-ui.plyr--audio input[type=range]:active::-webkit-slider-thumb {
  box-shadow: var(--plyr-range-thumb-shadow, 0 1px 1px rgba(35, 40, 47, 0.15), 0 0 0 1px rgba(35, 40, 47, 0.2)), 0 0 0 var(--plyr-range-thumb-active-shadow-width, 3px) var(--plyr-audio-range-thumb-active-shadow-color, rgba(35, 40, 47, 0.1));
}
.plyr--full-ui.plyr--audio input[type=range]:active::-moz-range-thumb {
  box-shadow: var(--plyr-range-thumb-shadow, 0 1px 1px rgba(35, 40, 47, 0.15), 0 0 0 1px rgba(35, 40, 47, 0.2)), 0 0 0 var(--plyr-range-thumb-active-shadow-width, 3px) var(--plyr-audio-range-thumb-active-shadow-color, rgba(35, 40, 47, 0.1));
}
.plyr--full-ui.plyr--audio input[type=range]:active::-ms-thumb {
  box-shadow: var(--plyr-range-thumb-shadow, 0 1px 1px rgba(35, 40, 47, 0.15), 0 0 0 1px rgba(35, 40, 47, 0.2)), 0 0 0 var(--plyr-range-thumb-active-shadow-width, 3px) var(--plyr-audio-range-thumb-active-shadow-color, rgba(35, 40, 47, 0.1));
}

.plyr--audio .plyr__progress__buffer {
  color: var(--plyr-audio-progress-buffered-background, rgba(193, 200, 209, 0.6));
}

.plyr--video {
  background: var(--plyr-video-background, var(--plyr-video-background, black));
  overflow: hidden;
}
.plyr--video.plyr--menu-open {
  overflow: visible;
}

.plyr__video-wrapper {
  background: var(--plyr-video-background, var(--plyr-video-background, black));
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.plyr__video-embed,
.plyr__video-wrapper--fixed-ratio {
  aspect-ratio: 16/9;
}
@supports not (aspect-ratio: 16/9) {
  .plyr__video-embed,
.plyr__video-wrapper--fixed-ratio {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
  }
}

.plyr__video-embed iframe,
.plyr__video-wrapper--fixed-ratio video {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.plyr--full-ui .plyr__video-embed > .plyr__video-embed__container {
  padding-bottom: 240%;
  position: relative;
  transform: translateY(-38.28125%);
}

.plyr--video .plyr__controls {
  background: var(--plyr-video-controls-background, linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75)));
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  bottom: 0;
  color: var(--plyr-video-control-color, #fff);
  left: 0;
  padding: calc(var(--plyr-control-spacing, 10px) / 2);
  padding-top: calc(var(--plyr-control-spacing, 10px) * 2);
  position: absolute;
  right: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  z-index: 3;
}
@media (min-width: 480px) {
  .plyr--video .plyr__controls {
    padding: var(--plyr-control-spacing, 10px);
    padding-top: calc(var(--plyr-control-spacing, 10px) * 3.5);
  }
}

.plyr--video.plyr--hide-controls .plyr__controls {
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
}

.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
  background: var(--plyr-video-control-background-hover, var(--plyr-color-main, var(--plyr-color-main, #00b3ff)));
  color: var(--plyr-video-control-color-hover, #fff);
}

.plyr__control--overlaid {
  background: var(--plyr-video-control-background-hover, var(--plyr-color-main, var(--plyr-color-main, #00b3ff)));
  border: 0;
  border-radius: 100%;
  color: var(--plyr-video-control-color, #fff);
  display: none;
  left: 50%;
  opacity: 0.9;
  padding: calc(var(--plyr-control-spacing, 10px) * 1.5);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  z-index: 2;
}
.plyr__control--overlaid svg {
  left: 2px;
  position: relative;
}
.plyr__control--overlaid:hover, .plyr__control--overlaid:focus {
  opacity: 1;
}

.plyr--playing .plyr__control--overlaid {
  opacity: 0;
  visibility: hidden;
}

.plyr--full-ui.plyr--video .plyr__control--overlaid {
  display: block;
}

.plyr--full-ui.plyr--video input[type=range]::-webkit-slider-runnable-track {
  background-color: var(--plyr-video-range-track-background, var(--plyr-video-progress-buffered-background, rgba(255, 255, 255, 0.25)));
}
.plyr--full-ui.plyr--video input[type=range]::-moz-range-track {
  background-color: var(--plyr-video-range-track-background, var(--plyr-video-progress-buffered-background, rgba(255, 255, 255, 0.25)));
}
.plyr--full-ui.plyr--video input[type=range]::-ms-track {
  background-color: var(--plyr-video-range-track-background, var(--plyr-video-progress-buffered-background, rgba(255, 255, 255, 0.25)));
}
.plyr--full-ui.plyr--video input[type=range]:active::-webkit-slider-thumb {
  box-shadow: var(--plyr-range-thumb-shadow, 0 1px 1px rgba(35, 40, 47, 0.15), 0 0 0 1px rgba(35, 40, 47, 0.2)), 0 0 0 var(--plyr-range-thumb-active-shadow-width, 3px) var(--plyr-audio-range-thumb-active-shadow-color, rgba(255, 255, 255, 0.5));
}
.plyr--full-ui.plyr--video input[type=range]:active::-moz-range-thumb {
  box-shadow: var(--plyr-range-thumb-shadow, 0 1px 1px rgba(35, 40, 47, 0.15), 0 0 0 1px rgba(35, 40, 47, 0.2)), 0 0 0 var(--plyr-range-thumb-active-shadow-width, 3px) var(--plyr-audio-range-thumb-active-shadow-color, rgba(255, 255, 255, 0.5));
}
.plyr--full-ui.plyr--video input[type=range]:active::-ms-thumb {
  box-shadow: var(--plyr-range-thumb-shadow, 0 1px 1px rgba(35, 40, 47, 0.15), 0 0 0 1px rgba(35, 40, 47, 0.2)), 0 0 0 var(--plyr-range-thumb-active-shadow-width, 3px) var(--plyr-audio-range-thumb-active-shadow-color, rgba(255, 255, 255, 0.5));
}

.plyr--video .plyr__progress__buffer {
  color: var(--plyr-video-progress-buffered-background, rgba(255, 255, 255, 0.25));
}

.plyr:fullscreen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%;
}
.plyr:fullscreen video {
  height: 100%;
}
.plyr:fullscreen .plyr__control .icon--exit-fullscreen {
  display: block;
}
.plyr:fullscreen .plyr__control .icon--exit-fullscreen + svg {
  display: none;
}
.plyr:fullscreen.plyr--hide-controls {
  cursor: none;
}
@media (min-width: 1024px) {
  .plyr:fullscreen .plyr__captions {
    font-size: var(--plyr-font-size-xlarge, 21px);
  }
}

/* stylelint-disable-next-line */
.plyr:-webkit-full-screen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%;
}
.plyr:-webkit-full-screen video {
  height: 100%;
}
.plyr:-webkit-full-screen .plyr__control .icon--exit-fullscreen {
  display: block;
}
.plyr:-webkit-full-screen .plyr__control .icon--exit-fullscreen + svg {
  display: none;
}
.plyr:-webkit-full-screen.plyr--hide-controls {
  cursor: none;
}
@media (min-width: 1024px) {
  .plyr:-webkit-full-screen .plyr__captions {
    font-size: var(--plyr-font-size-xlarge, 21px);
  }
}

/* stylelint-disable-next-line */
.plyr:-moz-full-screen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%;
}
.plyr:-moz-full-screen video {
  height: 100%;
}
.plyr:-moz-full-screen .plyr__control .icon--exit-fullscreen {
  display: block;
}
.plyr:-moz-full-screen .plyr__control .icon--exit-fullscreen + svg {
  display: none;
}
.plyr:-moz-full-screen.plyr--hide-controls {
  cursor: none;
}
@media (min-width: 1024px) {
  .plyr:-moz-full-screen .plyr__captions {
    font-size: var(--plyr-font-size-xlarge, 21px);
  }
}

/* stylelint-disable-next-line */
.plyr:-ms-fullscreen {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%;
}
.plyr:-ms-fullscreen video {
  height: 100%;
}
.plyr:-ms-fullscreen .plyr__control .icon--exit-fullscreen {
  display: block;
}
.plyr:-ms-fullscreen .plyr__control .icon--exit-fullscreen + svg {
  display: none;
}
.plyr:-ms-fullscreen.plyr--hide-controls {
  cursor: none;
}
@media (min-width: 1024px) {
  .plyr:-ms-fullscreen .plyr__captions {
    font-size: var(--plyr-font-size-xlarge, 21px);
  }
}

.plyr--fullscreen-fallback {
  background: #000;
  border-radius: 0 !important;
  height: 100%;
  margin: 0;
  width: 100%;
  bottom: 0;
  display: block;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000000;
}
.plyr--fullscreen-fallback video {
  height: 100%;
}
.plyr--fullscreen-fallback .plyr__control .icon--exit-fullscreen {
  display: block;
}
.plyr--fullscreen-fallback .plyr__control .icon--exit-fullscreen + svg {
  display: none;
}
.plyr--fullscreen-fallback.plyr--hide-controls {
  cursor: none;
}
@media (min-width: 1024px) {
  .plyr--fullscreen-fallback .plyr__captions {
    font-size: var(--plyr-font-size-xlarge, 21px);
  }
}

.plyr__ads {
  border-radius: inherit;
  bottom: 0;
  cursor: pointer;
  left: 0;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
.plyr__ads > div,
.plyr__ads > div iframe {
  height: 100%;
  position: absolute;
  width: 100%;
}
.plyr__ads::after {
  background: #23282f;
  border-radius: 2px;
  bottom: var(--plyr-control-spacing, 10px);
  color: #fff;
  content: attr(data-badge-text);
  font-size: 11px;
  padding: 2px 6px;
  pointer-events: none;
  position: absolute;
  right: var(--plyr-control-spacing, 10px);
  z-index: 3;
}
.plyr__ads:empty::after {
  display: none;
}

.plyr__cues {
  background: currentColor;
  display: block;
  height: var(--plyr-range-track-height, 5px);
  left: 0;
  margin: -var(--plyr-range-track-height, 5px)/2 0 0;
  opacity: 0.8;
  position: absolute;
  top: 50%;
  width: 3px;
  z-index: 3;
}

.plyr__preview-thumb {
  background-color: var(--plyr-tooltip-background, rgba(255, 255, 255, 0.9));
  border-radius: 3px;
  bottom: 100%;
  box-shadow: var(--plyr-tooltip-shadow, 0 1px 2px rgba(0, 0, 0, 0.15));
  margin-bottom: calc(calc(var(--plyr-control-spacing, 10px) / 2) * 2);
  opacity: 0;
  padding: var(--plyr-tooltip-radius, 3px);
  pointer-events: none;
  position: absolute;
  transform: translate(0, 10px) scale(0.8);
  transform-origin: 50% 100%;
  transition: transform 0.2s 0.1s ease, opacity 0.2s 0.1s ease;
  z-index: 2;
}
.plyr__preview-thumb--is-shown {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}
.plyr__preview-thumb::before {
  border-left: var(--plyr-tooltip-arrow-size, 4px) solid transparent;
  border-right: var(--plyr-tooltip-arrow-size, 4px) solid transparent;
  border-top: var(--plyr-tooltip-arrow-size, 4px) solid var(--plyr-tooltip-background, rgba(255, 255, 255, 0.9));
  bottom: calc(var(--plyr-tooltip-arrow-size, 4px) * -1);
  content: "";
  height: 0;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 0;
  z-index: 2;
}
.plyr__preview-thumb__image-container {
  background: #c1c8d1;
  border-radius: calc(var(--plyr-tooltip-radius, 3px) - 1px);
  overflow: hidden;
  position: relative;
  z-index: 0;
}
.plyr__preview-thumb__image-container img {
  height: 100%;
  left: 0;
  max-height: none;
  max-width: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.plyr__preview-thumb__time-container {
  bottom: 6px;
  left: 0;
  position: absolute;
  right: 0;
  white-space: nowrap;
  z-index: 3;
}
.plyr__preview-thumb__time-container span {
  background-color: rgba(0, 0, 0, 0.55);
  border-radius: calc(var(--plyr-tooltip-radius, 3px) - 1px);
  color: #fff;
  font-size: var(--plyr-font-size-time, var(--plyr-font-size-small, 13px));
  padding: 3px 6px;
}

.plyr__preview-scrubbing {
  bottom: 0;
  filter: blur(1px);
  height: 100%;
  left: 0;
  margin: auto;
  opacity: 0;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity 0.3s ease;
  width: 100%;
  z-index: 1;
}
.plyr__preview-scrubbing--is-shown {
  opacity: 1;
}
.plyr__preview-scrubbing img {
  height: 100%;
  left: 0;
  max-height: none;
  max-width: none;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: 100%;
}

.plyr--no-transition {
  transition: none !important;
}

.plyr__sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  border: 0 !important;
  height: 1px !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
}

.plyr [hidden] {
  display: none !important;
}

.sm {
  position: relative;
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: start;
  align-content: center;
}
.sm__bg {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.sm-cnt {
  position: relative;
  display: flex;
  flex-direction: column;
  grid-gap: 2em;
  padding: 1rem;
}
.sm-cnt > .up-logo {
  margin-bottom: 2rem;
}

.le {
  max-width: 640px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 4rem 1rem;
}
.le-nav-text_list {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
}
.le-nav-text {
  flex-shrink: 0;
  max-width: 150px;
  padding: 1em 0;
}
.le-nav-text--active > a {
  font-weight: bold;
}
.le-nav-text--active > a:hover {
  color: inherit;
}