.uc
    display: flex
    flex-direction: column
    gap: 8em
    padding: 8rem 1rem
    margin: 0 auto
    max-width: $size-large
    &-s
        display: grid
        grid-template-columns: repeat(1,1fr)
        grid-template-areas: "header" "info" "actions"
        grid-column-gap: 1em
        grid-row-gap: 3em
        +breakpoint(medium)
            grid-template-columns: repeat(2,1fr)
            grid-template-areas: "header actions" "info actions"
        +breakpoint(large)
            grid-template-columns: repeat(3,1fr)
            grid-template-areas: "header info actions"
        
        &-header
            grid-area: header
        &-info
            grid-area: info
            display: flex
            flex-direction: column
            gap: 3em
            &-part
                display: flex
                flex-direction: column
                gap: .5em
                &__msg
                    margin-top: 1em
        &-actions
            grid-area: actions
            display: flex
            flex-direction: column
            margin-left: -1em
            +breakpoint(medium)
                margin-top: -1em
                margin-bottom: -1em
                margin-left: 0