.up
    display: flex
    flex-direction: column
    gap: 2em
    padding: 8rem 1rem
    margin: 0 auto
    max-width: 480px
    &-logo
        max-width: 120px
    &--priceplan
        max-width: $size-xlarge
        align-items: center
        gap: 5em
        
    &-legal_txt
        overflow-y: auto
        max-height: 200px
        padding-right: 1rem
        
    &-pay
        &__paypal_logo
            padding:
                left: .5em
                bottom: -.3em
    &-code
        display: flex
        gap: 5px
        &-num
            background-color: $color-gray-dark
            border: 0
            width: 50px
            height: 50px
            text-align: center
            padding: 0
            color: $color-text
            &:focus-visible
                outline: 0
    &-back
        font-size: 35px
        height: 1em
        width: 1em
        display: flex
        background-color: $color-bg-main
        border-radius: 100%
        justify-content: center
        align-items: center
        padding: .1em
        transition: .5s
        img
            width: 100%
            height: 100%
            object-fit: contain
        &:hover
            background-color: $color-primary
    &-checkbox
        display: flex
        justify-content: flex-start
        align-items: center
        gap: .5em
        &, & > *
            cursor: pointer
    &-list
        list-style-type: square
        padding-left: 1.1rem
        display: flex
        flex-direction: column
        gap: .5ems
        &--checkbox
            padding: 0
    &-actions
        display: flex
        gap: 1em
        &--vertical
            flex-direction: column
        &--rtl
            justify-content: flex-end
    &-advise
        text-align: center
        width: 100%