.up-grid
    &-line
        padding-bottom: .5em
        border-bottom: 1px solid $color-text
        margin-bottom: .5em
        display: grid
        grid-template-columns: 1fr 1fr
        grid-template-areas: "date total" "description description"
        grid-column-gap: 1em
        grid-row-gap: .5em
        +breakpoint(medium)
            grid-template-columns: 1fr 2fr 1fr
            grid-template-areas: "date description total"
        &--header
            display: none
            +breakpoint(medium)
                display: grid
        &__date
            grid-area: date
        &__description
            grid-area: description
        &__total
            grid-area: total
            text-align: right