.up-inter
    margin: 0 auto
    padding: 2em
    display: flex
    align-items: center
    animation: .5s .5s inter both
    display: flex
    gap: 1em
    @keyframes inter
        0%
            transform: translateX(-100%)
        100%
            transform: translateX(0)
    
    &-anim
        display: inline-block
        position: relative
        width: 72px
        height: 72px
        animation: 10s 1s anim both
        flex-shrink: 0
        @keyframes anim
            0%
                opacity: 0
            100%
                opacity: 1
        
        &:after, &:before
            content: ""
            position: absolute
            border: 4px solid $color-text
            border-radius: 50%
            transform: translate(-50%, -50%)
            top: 50%
            left: 50%
            animation: anim-elements 2s both cubic-bezier(0, 0.2, 0.8, 1) infinite
        &:before
            animation-delay: -1s
        

        @keyframes anim-elements
            0% 
                width: 0
                height: 0
                opacity: 0.9
            
            100% 
                width: 100%
                height: 100%
                opacity: 0
        
    &_wrap
        display: none
        height: 100%
        width: 100%
        position: fixed
        background: rgba($color-bg-main, 0.7)
        backdrop-filter: blur(5px)
        animation: .5s inter-wrap both
        z-index: 1
        justify-content: flex-start
        @keyframes inter-wrap
            0%
                opacity: 0
            100%
                opacity: 1s
        &--on
            display: grid
            @at-root .up-inter--on
                overflow: hidden
                height: 100%