.up-modal
    background: $color-bg-main
    padding: 1rem
    display: flex
    flex-direction: column
    gap: 1em
    width: 100%
    max-width: 460px
    &_wrap
        display: flex
        height: 100%
        width: 100%
        position: fixed
        background: rgba($color-bg-main, 0.7)
        backdrop-filter: blur(5px)
        z-index: 1
        align-items: center
        justify-content: center
        visibility: hidden
        opacity: 0
        transition: .5s

        &--on
            visibility: visible
            opacity: 1
            @at-root .up-modal--on
                overflow: hidden
                height: 100%