.up
    &-plan_list
        display: grid
        grid-column-gap: 1rem
        grid-row-gap: 4rem
        +breakpoint(medium)
            grid-template-columns: repeat(2, 1fr)
        +breakpoint(large)
            grid-template-columns: repeat(4, 1fr)
    &-plan
        display: flex
        flex-direction: column
        gap: 1em
        &-header
            border-bottom: 2px solid $color-text
            padding-bottom: 1em
            display: flex
            gap: 1em
            &__number
                @at-root .pm-plan--infinite &
                    font-size: 3rem
                    line-height: 1.9rem
        &-pricing
            display: flex
            gap: 1em
            align-items: center