.le
    max-width: $size-medium
    margin: 0 auto
    display: flex
    flex-direction: column
    gap: 3rem
    padding: 4rem 1rem
    &-nav
        &-text_list
            display: flex
            gap: 1rem
            overflow-x: auto
            overflow-y: hidden
        &-text
            flex-shrink: 0
            max-width: 150px
            padding: 1em 0
            &--active > a
                font-weight: bold
                &:hover
                    color: inherit
