.sm
    position: relative
    height: 100%
    width: 100%
    display: grid
    justify-content: start
    align-content: center
    
    &__bg
        position: absolute
        height: 100%
        width: 100%
        object-fit: cover
    &-cnt
        position: relative
        display: flex
        flex-direction: column
        grid-gap: 2em
        padding: 1rem
        & > .up-logo
            margin-bottom: 2rem