|{% load i18n %}
|{% load static %}
doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    meta(name='x-apple-disable-message-reformatting')
    title
    //if mso
        noscript
            xml
            o:officedocumentsettings
                o:pixelsperinch 96
    style.
        @font-face{
            font-family: 'Zen Kaku Gothic Antique';
            font-style: normal;
            font-weight: 400;
            src:url('../fonts/zen-kaku-gothic-antique-v3-latin-regular.woff') format('woff');
        }
        body{
            margin: 0; 
            font-size: 14px;
        }
        table, td, div, h1, p {
            font-family: 'Zen Kaku Gothic Antique', 'Roboto', Helvetica, Arial, sans-serif;
        }
    - var white = "#ffffff"
    - var black = "#2A2B27"
    - var primary = "#4286F4"
    body
        table(role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;")
            mixin row(text, bg)
                tr(style='background:' + text + ';color:' + bg + ';')
                    td(align="center" style="padding-top:20px;padding-bottom:20px;padding-left:15px;padding-right:15px;")
                        table(style="width:600px;")
                            tr
                                td
                                    block
            
            +row(primary,white)
                img(src="{% static 'img/logo.svg' %}")
                h1 Lorem Ipsum
            +row(white,black)
                p Lorem Ipsum 
                p Lorem Ipsum
            +row(black,white)
                p Please do not respond as this address does not accept email and you will not get a response. This service email contains essential information relating to your OTT account, your recent purchase, booking or subscription to one of our services. Disney's policy is to respect and protect individuals' privacy. Read our Privacy Policy.
                p This service email has been sent by: OTT Fantastic information of location, vat num etc. All information correct at time of distribution.
                p
                    mixin link(href, text)
                        a(href= href style='margin-right:10px;color:' + primary + ';')= text
                    
                    +link("href","Subscriber Agreement")
                    +link("href","Privacy Policy")
                    +link("href","Cookies Policy")
                p © 2021 OTT. All Rights Reserved.
