extends /_includes/base.pug
block body-tb
    article.le
        strong.supertitle Legal
        nav.le-nav
            ul.le-nav-text_list.customscroll.customscroll--horizontal
                li.le-nav-text.important.le-nav-text--active
                    a.quiet Lorem Ipsumatos asdjasj
                li.le-nav-text.important
                    a.quiet Lorem Ipsumatos asdjasj
                li.le-nav-text.important
                    a.quiet Lorem Ipsumatos asdjasj
        header.le-header
            h1.title Lorem
        div.le-cnt
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat architecto sequi commodi est repudiandae? Optio aperiam vero iste ratione perferendis, natus officiis quos veniam quia, neque rerum animi officia consequuntur!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita accusamus autem dolore distinctio hic itaque necessitatibus. Ex inventore, at, porro excepturi ut aspernatur, quo quasi reprehenderit molestiae impedit minus magnam.