extends /_includes/base.pug
block body
    .sm
        img.sm__bg(src="{% static 'img/bg-collage.png' %}")
        .sm-cnt
            +up-logo
            div
                h1.supertitle Lorem ipsum dolor sit
                p.subtitle This is a lorem ipsum dolor sit amet. Ipsum latin this that thoe.
            .up-actions
                a.button() Lorem ipsum
                a.button.button--nude() Lorem ipsum
