extends /_includes/base.pug
block body-tb
    article.co
        header.co-hero-wrap
            .co-hero
                .co-hero-comercial
                    h1.supertitle Elimina el fondo de tus imagenes
                    p.co-hero-comercial__intro Sistema de inteligencia artificial para eliminar el fondo de tus imagenes sin esfuerzo. 
                        strong.bold Rapido, automatico y facil.
                    a.button Prueba gratis
                .co-hero-upload
                    img.co-hero-upload__icon(src="{% static 'img/icons/upload.svg' %}")
                    
                    .co-hero-upload-msg
                        span.co-hero-upload-msg__txt Arrastra o pulsa para
                        a.button.button--small Subir imagen
                
                .slider_img.co-hero-img
                    img(src="{% static 'img/examples/girl-top.jpg' %}")
                    img(src="{% static 'img/examples/girl-top-trans.png' %}")
                
                    
            img.co-hero__bg(src="{% static 'img/girlbg.jpg' %}")
        section.co-hei
            header.co-hei-header
                small 1,2,3... plaf!
                h2.supertitle Pon un fondo transparente a tus fotos en un instante
            .co-hei-point_list
                .co-hei-point
                    img.co-hei-point__img(src="{% static 'img/icons/upload.svg' %}")
                    h3.co-hei-point__title.smalltitle.uppercase 1. Sube tu imagen
                    .co-hei-point__text
                        p Arrastra o sube la imagen. Debe ser una imagen en el que el sujeto o tema no tenga nada delante y se distinga del fondo.
                .co-hei-point
                    img.co-hei-point__img(src="{% static 'img/icons/upload.svg' %}")
                    h3.co-hei-point__title.smalltitle.uppercase 2. Deja que funciona la magia
                    .co-hei-point__text
                        p Espera unos instantes a que nuestro sistema haga la magia.
                .co-hei-point
                    img.co-hei-point__img(src="{% static 'img/icons/upload.svg' %}")
                    h3.co-hei-point__title.smalltitle.uppercase 3. Descarga
                    .co-hei-point__text
                        p Ya tienes tu imagen con un fondo transparente.
        section.co-gr
            header.co-gr-header
                h2.supertitle.co-gr-header__title Elimina fondos de tus imagenes de forma rapida y automatica
            section.co-gr-se
                .co-gr-se__img.slider_img
                    img(src="{% static 'img/examples/cat-1.jpg' %}")
                    img(src="{% static 'img/examples/cat-1-trans.png' %}")
                
                header.co-gr-se-header
                    h3.title Creativos y profesionales del sector grafico
                .co-gr-se-txt
                    p Ahorra tiempo en el proceso de recorte de imagenes y dedicalo a tus diseños.
                    p Recorta cualquier cosa de forma automática y rapida: productos, retratos, animales, ...
                    p Cuenta con un resultado profestional impecable.
            section.co-gr-se
                .co-gr-se__img.slider_img
                    img(src="{% static 'img/examples/girl-4.jpg' %}")
                    img(src="{% static 'img/examples/girl-4-trans.png' %}")
                
                header.co-gr-se-header
                    h3.title E-commerce
                .co-gr-se-txt
                    p Aumenta tus vendas con una imagen profesional y clara de tus productos.
                    p Acelera tu proceso de preparación de imagenes y ahorra en costes y en tiempo a mercado.
                    p Ahorra mucho tiempo en la preparación de las imagenes para la creación de bodegones.
        .co-gr.co-gr--negative
            section.co-gr-se
                img.co-gr-se__img.co-gr-se__img--quick(src="{% static 'img/examples/quick.png' %}")
                
                header.co-gr-se-header
                    h3.title Procesado rapido y senzillo
                .co-gr-se-txt
                    p Solo tienes que subir la imagen: en pocos segundos vas a disponer de una imagen recortada con calidad profesional.
            section.co-gr-se
                img.co-gr-se__img.co-gr-se__img--block(src="{% static 'img/examples/bulk.png' %}")
                
                header.co-gr-se-header
                    h3.title Subida en bloque
                .co-gr-se-txt
                    p Puedes subir y procesar múltiples imagenes en un solo paso gracias al procesado en bloque.
            section.co-gr-se
                img.co-gr-se__img.co-gr-se__img--api(src="{% static 'img/examples/api.png' %}")
                
                header.co-gr-se-header
                    h3.title API
                .co-gr-se-txt
                    p Disponemos de una API para automatizar todos tus procesos con tu ecommerce, pagina web o galeria.
        section.co-faq
            header.co-faq-header
                h2.title Preguntas frecuentes
            .co-faq-item_list
                mixin faq-item(question)
                    .co-faq-item
                        .co-faq-item-question.important= question
                        .co-faq-item-cnt
                            if block
                                block 
                            else
                                p Let’s Enhance uses cutting-edge Image Super Resolution technology based on Deep Convolutional Neural Networks. Before appearance of this technology it was impossible to dramatically increase photo or image size without losing quality. Your best option in Photoshop, called Bicubic Interpolation - made your image unsharp and blurry. Those of you on the math side of the things could argue – however you increase image resolution – there is no new information about the image - you just can’t add extra quality! This is not true in a case when Neural Network and AI is used. Our neural network is trained on a huge dataset of images, so it learns typical features of physical objects – bricks of walls, hair and skin. After the network recognises those features on the images uploaded and add extra details, based on its general knowledge the the world.
                +faq-item("This is the end")
                +faq-item("Lorem Pixel a tu")
block bottom-scripts
    script.
        slider();
        coverFAQ();