extends /_includes/base.pug
block body-tb
    article.fq
        header.fq-header
            .fq-header-cnt
                h1.supertitle API para eliminar fondos
                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                a.button Conseguir una API key
            img.fq-header__img(src="{% static 'img/examples/api.png' %}")
        nav.fq-nav
            ul.fq-nav-item_list
                mixin item_list(name, href)
                    li.fq-nav__item.nude(class!=attributes.class)
                        a(href= href).quiet= name
                +item_list("test", "test")
                +item_list("test", "test")
                +item_list("test", "test")
                +item_list("test", "test")(class="fq-nav__item--sub")
                +item_list("test", "test")(class="fq-nav__item--sub")
                +item_list("test", "test")(class="fq-nav__item--sub")
        .fq-cnt
            section.fq-sc
                header.fq-sc-header
                    h2.title Test
                .fq-sc-main
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                .fq-sc-sprt
                    h3.smalltitle Lorem Ipsum
                    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
block bottom-scripts
