{% load i18n %}
{% load static %}<!DOCTYPE html><head><meta charset="UTF-8"><meta name="viewport" content="width=device-width,initial-scale=1"><meta name="x-apple-disable-message-reformatting"><title></title><!--if msonoscript
    xml
    o:officedocumentsettings
        o:pixelsperinch 96--><style>@font-face{
    font-family: 'Zen Kaku Gothic Antique';
    font-style: normal;
    font-weight: 400;
    src:url('../fonts/zen-kaku-gothic-antique-v3-latin-regular.woff') format('woff');
}
body{
    margin: 0; 
    font-size: 14px;
}
table, td, div, h1, p {
    font-family: 'Zen Kaku Gothic Antique', 'Roboto', Helvetica, Arial, sans-serif;
}</style><body><table role="presentation" style="width:100%;border-collapse:collapse;border:0;border-spacing:0;"><tr style="background:#4286F4;color:#ffffff;"><td align="center" style="padding-top:20px;padding-bottom:20px;padding-left:15px;padding-right:15px;"><table style="width:600px;"><tr><td><img src="{% static 'img/logo.svg' %}"><h1>Lorem Ipsum</h1></td></tr></table></td></tr><tr style="background:#ffffff;color:#2A2B27;"><td align="center" style="padding-top:20px;padding-bottom:20px;padding-left:15px;padding-right:15px;"><table style="width:600px;"><tr><td><p>Lorem Ipsum </p><p>Lorem Ipsum</p></td></tr></table></td></tr><tr style="background:#2A2B27;color:#ffffff;"><td align="center" style="padding-top:20px;padding-bottom:20px;padding-left:15px;padding-right:15px;"><table style="width:600px;"><tr><td><p>Please do not respond as this address does not accept email and you will not get a response. This service email contains essential information relating to your OTT account, your recent purchase, booking or subscription to one of our services. Disney's policy is to respect and protect individuals' privacy. Read our Privacy Policy.</p><p>This service email has been sent by: OTT Fantastic information of location, vat num etc. All information correct at time of distribution.</p><p><a href="href" style="margin-right:10px;color:#4286F4;">Subscriber Agreement</a><a href="href" style="margin-right:10px;color:#4286F4;">Privacy Policy</a><a href="href" style="margin-right:10px;color:#4286F4;">Cookies Policy</a></p><p>© 2021 OTT. All Rights Reserved.</p></td></tr></table></td></tr></table></body></head>