extends /_includes/base.pug
block body-tb
    article.hc
        header.hc-header
            h1.supertitle Ayuda
            .fo-line
                .fo-iw
                    .fo-iw-icon.fo-iw-icon--left
                        img.fo-iw-icon__el(src="{% static 'img/icons/search.svg' %}")
                    input.fo-iw__input.fo-iw__input--deactivated#search(type="text" placeholder="Tienes alguna pregunta?" required)
        .hc-category_list
            mixin he-link(name, href)
                li.hc-category-article.important
                    a.hc-category-article__anchor(href=href)= name
            mixin he-category(name, href)
                .hc-category
                    h2.smalltitle= name
                    ul.hc-category-article_list
                        block
                    a.hc-category__more.important(href= href) Ver todas
            +he-category("Lorem Ipsum", "/help/category")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
            +he-category("Lorem Ipsum", "/help/category")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
            +he-category("Lorem Ipsum", "/help/category")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
            +he-category("Lorem Ipsum", "/help/category")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
            +he-category("Lorem Ipsum", "/help/category")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
                +he-link("Lorem Ipsum", "/help/category/article")
        .hc-questions
            .hc-questions-header
                h2.title ¿Aún con preguntas?
                p.important Puedes encontrarnos de 9 a 17h de lunes a viernes.
            .hc-questions-option_list
                a.hc-questions-option
                    img.hc-questions-option__icon(src="{% static 'img/icons/chat.svg' %}")
                    span Chatea con nosotros
                a.hc-questions-option
                    img.hc-questions-option__icon(src="{% static 'img/icons/phone.svg' %}")
                    span Llamanos


block bottom-scripts