extends /_includes/base.pug
block body-tb
    article.hl
        ul.he-breadcrumb
            li.he-breadcrumb__item
                a Ayuda
            li.he-breadcrumb__item
                span Categoria

        h1.supertitle Lorem ipsum
        ul.hl-article_list
            mixin li(text, anchor)
                li.hl-article.subtitle
                    a.quiet(href= anchor)= text
            +li("Lorem Ipsum", "/help/category/article")
            +li("Lorem Ipsum", "/help/category/article")
            +li("Lorem Ipsum", "/help/category/article")
            +li("Lorem Ipsum", "/help/category/article")
            +li("Lorem Ipsum", "/help/category/article")
