extends /_includes/base.pug
block body-tb
    article.ha
        .ha-main
            ul.he-breadcrumb
                li.he-breadcrumb__item
                    a Ayuda
                li.he-breadcrumb__item
                    a Categoria
                li.he-breadcrumb__item
                    span Article

            h1.supertitle Lorem ipsum
            div
        .ha-related
            h2.smalltitle Articulos relacionados
            ul.ha-rarticle_list
                mixin li(text, anchor)
                    li.ha-rarticle.important
                        a.ha-rarticle__anchor.quiet(href= anchor)= text
                +li("Lorem Ipsum", "/help/category/article")
                +li("Lorem Ipsum", "/help/category/article")
                +li("Lorem Ipsum", "/help/category/article")
                +li("Lorem Ipsum", "/help/category/article")
                +li("Lorem Ipsum", "/help/category/article")
