.button
    --btn-clr: #{$color-primary}
    text-transform: uppercase
    font-weight: $font-weight-bold
    padding: 1em
    font-size: 1rem
    color: $color-text
    background-color: var(--btn-clr, $color-primary)
    line-height: 1.3em
    transition: .5s
    text-align: center
    display: inline-block
    text-align: center
    &:hover
        --btn-clr: #{$color-primary-light}
        cursor: pointer
        text-decoration: none
    &--large
        font-size: $h4l
    &--small
        font-size: $font-size-small
    &--ghost
        background: transparent
        border: 1px solid var(--btn-clr, $color-primary)
        color: var(--btn-clr, $color-primary)
    &--nude
        background: transparent
        color: $color-text
        &:hover
            color: var(--btn-clr, $color-primary)