.customscroll
    $track-color: $color-gray-dark
    $thumb-color: $color-text
    &::-webkit-scrollbar
        width: 5px
    &::-webkit-scrollbar-track
        background: $track-color
    &::-webkit-scrollbar-thumb
        background: $thumb-color
    scrollbar-width: thin
    scrollbar-color: $thumb-color $track-color
    &--horizontal
        &::-webkit-scrollbar
            width: auto
            height: 5px