.supertitle
    +h1
    font-weight: $font-weight-bold
.title
    +h2
    font-weight: $font-weight-bold
.smalltitle
    +h3
    font-weight: $font-weight-bold
.subtitles
    +h3
.important
    +h4
.nav-element
    +h5
    &--selected
        font-weight: $font-weight-bold
.bold
    font-weight: $font-weight-bold
.uppercase
    text-transform: uppercase
.legend
    font-size: $font-size-small
.label
    font-size: $font-size-small
    text-transform: uppercase
    
