.ft
    display: flex
    flex-direction: column
    gap: 1em
    align-items: center
    &-logo
        font-size: 2em
        color: $color-text
    &-links
        display: flex
        margin: 0 auto
        justify-content: center
        flex-flow: row wrap
        gap: 1em
