input[type="checkbox"], input[type="radiobutton"]
    width: 21px
    height: 21px
    border: 2px solid $color-text
    transition: .5s
    position: relative
    margin: 0
    &:checked
        background-color: $color-primary
        border-color: $color-primary
        &:before, &:after
            content: ""
            position: absolute
            background-color: $color-text
            transform: rotate(45deg)
        &::before
            width: 8px
            height: 2px
            top: 10px
            left: 1px
        &::after
            width: 2px
            height: 12px
            left: 11px
            top: 2px
input[type="radiobutton"]
    border-radius: 100%

//- tret de .fo-iw__input. Vigilar si funciona i te sentit.
input[type="text"], input[type="password"], input[type="search"]
    --bc: transparent
    width: 100%
    background: $color-gray-dark
    border: 0
    outline: 0
    color: $color-text
    font-size: 1rem
    padding: 1em
    flex-grow: 1
    border: 2px solid var(--bc)
    transition: border .5s

.fo
    &-wrap
        display: grid
        grid-gap: 2em
        padding: 1rem
    &-label
        text-transform: uppercase
    &-line
        display: grid
        color: $color-text
        grid-gap: .5em
    &-iw
        display: grid
        grid-gap: 1em
        position: relative
        &--psw
            --width: 0%
            --color: transparent
            &[show="true"]
                display: block
            &[strength="bad"]
                --color: #{$color-red}
                --width: 25%
            &[strength="medium"]
                --width: 50%
                --color: #{$color-orange}
            &[strength="good"]
                --width: 75%
                --color: #{$color-yellow}
            &[strength="strong"]
                --width: 100%
                --color: #{$color-green}

        &-icon
            position: absolute
            right: 0
            top: 0
            padding: .8em
            width: calc(3em + 3px)
            height: calc(3em + 6px)
            &__el
                display: initial
                @at-root .fo-iw-icon--off
                    display: none
                &--sec
                    display: none
                    @at-root .fo-iw-icon--off
                        display: initial
            &--left
                left: 0
                right: none
            
        &__input
            
            @at-root .fo-iw--psw &
                border-color: var(--color)
            @at-root .fo-iw-icon + & 
                padding-right: 3em
            @at-root .fo-iw-icon--left + &
                padding-right: 0
                padding-left: 3em
            &:not(&--deactivated):not(:placeholder-shown):not(:focus):valid,
            &--correct
                --bc: #{$color-correct}

            &:not(&--deactivated):not(:placeholder-shown):not(:focus):invalid,
            &--error
                 --bc: #{$color-error}

            &:hover, 
            &:focus,
            &--focus
                --bc: #{$color-text}

            &::placeholder
                color: inherit

        &__help
            top: 100%
            display: block
            opacity: 0
            transition: .5s
            @at-root 
                .fo-iw__input:focus + &,
                .fo-iw__input:not(:placeholder-shown):invalid + &, 
                &--show
                    opacity: 1
                .fo-iw__input:not(.fo-iw__input--deactivated):not(:focus):not(:placeholder-shown):invalid + &
                    color: $color-error
    &-psw_str
        display: flex
        align-items: center
        gap: 1em
        &__bar
            width: 220px
            height: 6px
            background: white
            position: relative
            &::after
                content: ""
                position: absolute
                left: 0
                top: 0
                height: 100%
                width: var(--width)
                background-color: var(--color)
                transition: .5s

        &__text
            color: var(--color)