.slider_img
    position: relative
    border: 0
    display: block
    & > img
        width: 100%
        height: 100%
        &:first-child
            position: absolute
            top: 0
            left: 0
            width: 50%
            height: 100%
            object-fit: cover
            object-position: 0 0
            display: inline-block
            &::after
                content: ""
                position: absolute
                height: 10px
                width: 10px
                background: white
    &__range
        position: absolute
        -webkit-appearance: none
        appearance: none
        width: 100%
        height: 100%
        background: transparent
        outline: none
        margin: 0
        top: 0
        left: 0
        opacity: 0
        &::-webkit-slider-thumb, &::-ms-thumb, &::-ms-thumb
            opacity: 0

    &__btn
        $ball: 40px
        $color: $color-white
        pointer-events: none
        position: absolute
        width: 2px
        height: calc(50% - #{math.div($ball, 2)})
        background-color: $color
        left: 50%
        top: 0
        transform: translate(-50%, 0)
        display: flex
        justify-content: center
        align-items: center
        &::after
            position: absolute
            content: ""
            top: 100%
            height: $ball
            width: $ball
            border: 3px solid $color
            transform: rotate(45deg) scale(0.8)
            box-sizing: border-box
            //-border-radius: 100%
            background: rgba($color, 0.3)
            backdrop-filter: blur(10px)
        &::before
            content: ""
            position: absolute
            width: 2px
            background: inherit
            top: calc(100% + #{$ball})
            height: 100%