.toggle
    display: grid
    grid-auto-columns: 1fr
    grid-auto-flow: column
    &-button
        @extend .button
        background: $color-gray-dark
        padding:
            left: 3em
            right: 3em
        &--active
            background: $color-text
            color: $color-bg-contrast