.tb
    display: flex
    align-items: stretch
    flex-direction: column
    +breakpoint(medium)
        flex-direction: initial
        align-items: center
    &-logo
        font-size: 1.75rem
        font-weight: $font-weight-bold
        color: $color-text
        padding: 1rem
        text-transform: none
        margin-top: -.3em
    &-nav
        justify-content: space-between
        flex-grow: 1
        align-items: center
        display: none
        flex-direction: column
        align-items: stretch
        +breakpoint(medium)
            display: flex
            flex-direction: row
            visibility: initial
            opacity: 1
            
        &-user
            +breakpoint(medium)
                order: 1
            
        &-user,
        &-principal
            display: flex
            flex-direction: column
            +breakpoint(medium)
                flex-direction: initial
            .button
                display: block
                padding:
                    left: 2em
                    right: 2em